[submodule "foundation"]
	path = candidates/static/foundation
	url = https://github.com/zurb/foundation.git
[submodule "candidates/static/select2"]
	path = candidates/static/select2
	url = https://github.com/ivaynberg/select2.git
