Django==1.6.5
-e git://github.com/mysociety/popit-python.git@88f2c6b3b8c122d4bd4bd4b4edf9afe87df0bd08#egg=PopIt_Python-origin/updates-for-current-popit
PyYAML==3.11
Unidecode==0.04.16
WebOb==1.4
WebTest==2.0.15
argparse==1.2.1
beautifulsoup4==4.3.2
django-debug-toolbar==1.2.1
django-nose==1.2
django-pipeline==1.3.25
django-webtest==1.7.7
futures==2.1.6
ipdb==0.8
ipython==2.1.0
nose==1.3.3
python-slugify==0.0.7
requests==0.14.2
six==1.7.3
slumber==0.6.0
sqlparse==0.1.11
waitress==0.8.9
wsgiref==0.1.2
yanc==0.2.4
