{% extends 'generic_base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block masthead_links %}
  <li class="nav-links__item"><a href="http://info.mzalendo.com">Back to Mzalendo.com</a></li>
{% endblock %}

{% block menu_bar_links %}
  <li class="nav-links__item"><a href="{% url 'help-about' %}">{% trans "About" %}</a></li>
  <li class="nav-links__item"><a href="{% url 'posts' %}">{% trans "Posts" %}</a></li>
  <li class="nav-links__item"><a href="{% url 'reports_home' %}">{% trans "Numbers" %}</a></li>

  {% if user.is_authenticated %}
    <li class="nav-links__item">{% blocktrans with username=user.username %}Signed in as <strong>{{ username }}</strong>{% endblocktrans %}</li>
    {% if user_can_review_photos and photos_for_review > 0 %}
      <li class="nav-links__item"><a href="{% url 'photo-review-list' %}"><span class="notification">{{ photos_for_review }}</span> Photos for review</a></li>
    {% endif %}
    {% if user_can_edit_settings %}
      <li class="nav-links__item"><a href="{% url 'settings' %}">{% trans "Site settings" %}</a></li>
    {% endif %}
    <li class="nav-links__item"><a href="{% url 'account_logout' %}{% if redirect_after_login %}?next={{ redirect_after_login }}{% endif %}">{% trans "Sign out" %}</a></li>
  {% else %}
    <li class="nav-links__item"><a href="{% url 'account_login' %}{% if redirect_after_login %}?next={{ redirect_after_login }}{% endif %}" class="header__nav__login">{% trans "Sign in to edit" %}</a></li>
  {% endif %}
{% endblock %}

{% block footer_bylines %}
  {% static "img/logo-with-text.png" as logo_url %}
  <p>{% blocktrans with site_managers='Example Site Managers' trimmed %}
    Run by
    <img src="{{ logo_url }}" %} alt="{{ site_managers }}" class="dc-logo">
    {% endblocktrans %}
  </p>
{% endblock %}
