{% load i18n %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="alternate" type="application/atom+xml" title="RSS" href="/feeds/changes.xml">

    {% block extra_head %}
    {% endblock %}

    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}"/>

    {% load pipeline %}
    {% stylesheet 'all' %}
    {% block extra_css %}
    {% endblock %}

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->

    {% load statici18n %}
    {% if not settings.RUNNING_TESTS %}
      <script src="{% statici18n LANGUAGE_CODE %}"></script>
    {% endif %}

    {% javascript 'all' %}
    {% block extra_js %}
    {% endblock %}

    <title>
      {% block title %}{{ site.name }}{% endblock %}
    </title>

    {% block analytics %}
      {% if settings.GOOGLE_ANALYTICS_ACCOUNT %}
        <script>
          {% if settings.USE_UNIVERSAL_ANALYTICS %}
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ settings.GOOGLE_ANALYTICS_ACCOUNT }}', 'auto');
            ga('send', 'pageview');
          {% else %}
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_ACCOUNT }}']);
            _gaq.push(['_trackPageview']);
            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
          {% endif %}
        </script>
      {% endif %}
    {% endblock %}

</head>

<body class="{% block body_class %}{% endblock %}">

  <div class="header">

    <div class="header__masthead">
      <div class="container">
        <a href="/" class="header__masthead__logo">{{ site.name }}</a>
        <ul class="nav-links">
          {% if user.is_authenticated %}
            <li class="nav-links__item">{% blocktrans with username=user.username %}Signed in as <strong>{{ username }}</strong>{% endblocktrans %}</li>
            {% if user_can_review_photos and photos_for_review > 0 %}
              <li class="nav-links__item"><a href="{% url 'photo-review-list' %}"><span class="notification">{{ photos_for_review }}</span> Photos for review</a></li>
            {% endif %}
            <li class="nav-links__item"><a href="{% url 'account_logout' %}{% if redirect_after_login %}?next={{ redirect_after_login }}{% endif %}">{% trans "Sign out" %}</a></li>
          {% else %}
            <li class="nav-links__item"><a href="{% url 'account_login' %}{% if redirect_after_login %}?next={{ redirect_after_login }}{% endif %}" class="header__nav__login">{% trans "Sign in to edit" %}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>

    <div class="header__nav">
      <div class="container">
        <div class="row">
          <div class="columns large-6">
            <ul class="nav-links">
              {% block menu_bar_links %}
                <li class="nav-links__item"><a href="{% url 'help-about' %}">{% trans "About" %}</a></li>
                <li class="nav-links__item"><a href="{% url 'posts' %}">{% trans "Posts" %}</a></li>
                <li class="nav-links__item"><a href="{% url 'reports_home' %}">{% trans "Numbers" %}</a></li>
              {% endblock %}
            </ul>
          </div>


        {% if not hide_search_form %}
          <div class="column large-6">
            <form id="person_search_header" class="header__nav__search" action="{% url 'person-search' %}">
              <div class="row collapse postfix-radius">
                <div class="columns large-8">
                  <input type="text" name="q" placeholder="{% trans 'Add or update a candidate' %}">
                </div>
                <div class="columns large-4">
                  <button type="submit" class="postfix">{% trans 'Search' %}</button>
                </div>
              </div>
            </form>
          </div>
          {% endif %}



        </div>




      </div>
    </div>

    <div class="header__hero">
      <div class="container">
        {% block hero %}
        {% endblock %}
      </div>
    </div>

  </div>
  <div class="content">
    <div class="container">

      {% if messages %}
        <div class="messages">
          {% for message in messages %}
            {% if 'photo-review' in message.tags or 'do-something-else' in message.tags %}
              <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                {% if 'safe' in message.tags %}
                  {{ message|safe }}
                {% else %}
                  {{ message }}
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}

      {% block content %}
      {% endblock %}
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="footer__links">
        <p><a href="{% url 'help-api' %}">{% trans "Open data API" %}</a>
            &middot; <a href="{% url 'help-about' %}">{% trans "About" %}</a>
            &middot; <a href="https://github.com/mysociety/yournextrepresentative/issues">{% trans "Issue tracker" %}</a>
            &middot; <a href="{% url 'help-privacy' %}">{% trans "Privacy policy" %}</a></p>
      </div>
      <div class="footer__bylines">
        {% block footer_bylines %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
