{% load prettyjson %}
{% load i18n %}

{% for diff_data in diffs_against_all_parents %}
  {% with diff=diff_data.parent_diff parent_version_id=diff_data.parent_version_id %}
    {% if parent_version_id %}
      <dt>{% blocktrans trimmed %}
        Changes made compared to parent {{ parent_version_id }}
      {% endblocktrans %}</dt>
    {% else %}
      <dt>{% trans "Changes made in initial version" %}</dt>
    {% endif %}
    <dd>
      <p class="version-diff">
        {% for operation in diff %}
          {% if operation.op == 'add' %}
             <span class="version-op-add"{% if inline_style %} style="color: #0a6b0c"{% endif %}>{% trans "Added:" %} {{ operation.path }} =&gt; {{ operation.value|prettyjson }}</span>
          {% elif operation.op == 'remove' %}
             <span class="version-op-remove"{% if inline_style %} style="color: #8e2424"{% endif %}>{% trans "Removed:" %} {{ operation.path }}
              {% blocktrans trimmed with previous=operation.previous_value|prettyjson %}
              (previously it was {{ previous }}){% endblocktrans %}</span>
          {% elif operation.op == 'replace' %}
             <span class="version-op-replace"{% if inline_style %} style="color: #27248e"{% endif %}>{% blocktrans trimmed with field=operation.path previous=operation.previous_value|prettyjson current=operation.value|prettyjson %}
             At {{ field }} replaced {{ previous }} with {{ current }}</span>
             {% endblocktrans %}
          {% else %}
             <span class="version-op-unknown">{% trans "UNEXPECTED OPERATION:" %} {{ operation|prettyjson }}</span>
          {% endif %}<br/>
        {% endfor %}
      </p>
    </dd>
  {% endwith %}
{% endfor %}
