{% load staticfiles %}
{% load imagefixes %}

{% if position_in_list %}
  <span class="person-position">{{ position_in_list }}</span>
{% endif %}
{% if c.image %}
  <a href="{% url 'person-view' c.id c.name|slugify %}">
    <img class="person-avatar" src="{{ c.popit_data.proxy_image|fixproxyurl }}/0/64"/>
  </a>
{% elif c.popit_data.gender|lower == 'female' %}
  <img class="person-avatar" src="{% static 'candidates/img/blank-woman.png' %}"/>
{% else %}
  <img class="person-avatar" src="{% static 'candidates/img/blank-man.png' %}"/>
{% endif %}
<div class="person-name-and-party">
  <a href="{% url 'person-view' c.id c.name|slugify %}" class="candidate-name">{{ c.name }}</a>
  <span class="party">{{ c.last_party.name }}</span>
</div>
