{% load i18n %}

    {% csrf_token %}

    {% if form.errors %}
      <div class="form-error-summary">
        <h2>{% trans "Oops!" %}</h2>
        <p>{% trans "We could not accept some of the changes you made." %}</p>
        {% if form.non_field_errors %}
          {{ form.non_field_errors.as_ul }}
        {% else %}
          <p>{% trans "Please check your information matches our requirements, below." %}</p>
        {% endif %}
      </div>
    {% endif %}

    <h2>{% trans "Personal details:" %}</h2>

    {% for simple_field in personal_fields %}
    <div class="form-item {% if simple_field.errors %}form-item--errors{% endif %}">
      <p>
        {{ simple_field.label_tag }}
        {{ simple_field }}
      </p>
      {{ simple_field.errors }}
      {% if simple_field.name == 'name'%}
        {% if not add_candidate_form %}
          <p class="alternative-names">
            <a href="{% url 'person-other-names' person_id=person.id %}">
              {% trans "Manage alternative names..." %}
          </a></p>
        {% endif %}
      {% endif %}

    </div>

    {% endfor %}

    <div>
      <h2>{% trans "Candidacy:" %}</h2>

        {% for constituency_fields in constituencies_form_fields %}

          <h3>{{ constituency_fields.election_name }}</h3>

          {% if constituency_fields.standing.is_hidden %}
            {{ constituency_fields.standing }}
          {% else %}
          <div class="form-item {% if constituency_fields.standing.errors %}form-item--errors{% endif %}">
            <p>
              {{ constituency_fields.standing.label_tag }}
              {{ constituency_fields.standing }}
            </p>
            {{ constituency_fields.standing.errors }}
          </div>
          {% endif %}

          {% if constituency_fields.constituency.is_hidden %}
            {{ constituency_fields.constituency }}
          {% else %}
          <div class="form-item {% if constituency_fields.constituency.errors %}form-item--errors{% endif %}">
            <p>
              {{ constituency_fields.constituency.label_tag }}
              {{ constituency_fields.constituency }}
            </p>
            {{ constituency_fields.constituency.errors }}
          </div>
          {% endif %}

          {% for party_field, party_list_position_field in constituency_fields.party_fields %}

            {% if party_field.is_hidden %}
                {{ party_field }}
            {% else %}
              <div class="form-item {% if party_field.errors %}form-item--errors{% endif %}">
                <p>
                  {{ party_field.label_tag }}
                  {{ party_field }}
                </p>
                {{ party_field.errors }}
              </div>

              {% if party_list_position_field %}
                <div class="form-item {% if party_list_position_field.errors %}form-item--errors{% endif %}">
                  <p>
                    {{ party_list_position_field.label_tag }}
                    {{ party_list_position_field }}
                  </p>
                  {{ party_list_position_field.errors }}
                </div>
              {% endif %}
            {% endif %}

          {% endfor %}

        {% endfor %}
    </div>

    <h2>{% trans "Links and social media:" %}</h2>

    {% for field_info, tag in complex_fields %}
      {% if field_info.info_type == 'twitter' %}
        <div class="form-item {% if tag.errors %}form-item--errors{% endif %}">
          {{ tag.label_tag }}
          <div class="row collapse">
            <div class="small-1 columns">
              <span class="prefix">@</span>
            </div>
            <div class="small-11 columns">
              {{ tag }}
            </div>
          </div>
          {{ tag.errors }}
        </div>
      {% else %}
        <div class="form-item {% if tag.errors %}form-item--errors{% endif %}">
          <p>
            {{ tag.label_tag }}
            {{ tag }}
          </p>
          {{ tag.errors }}
        </div>
      {% endif %}
    {% endfor %}

    <h2>{% trans "Demographics:" %}</h2>

    {% for simple_field in demographic_fields %}
    <div class="form-item {% if simple_field.errors %}form-item--errors{% endif %}">
      <p>
        {{ simple_field.label_tag }}
        {{ simple_field }}
      </p>
      {{ simple_field.errors }}
    </div>

    {% endfor %}

    {% if extra_fields %}

      <h2>{% trans "Additional information:" %}</h2>

      {% for extra_field in extra_fields %}
        <div class="form-item {% if extra_field.errors %}form-item--errors{% endif %}">
          <p>
            {{ extra_field.label_tag }}
            {{ extra_field }}
          </p>
          {{ extra_field.errors }}
        </div>
      {% endfor %}

    {% endif %}

    <div class="source-confirmation {% if form.source.errors %}source-confirmation--errors{% endif %}">
      <p>
        <label for="{{ form.source.id_for_label }}">
          {% if form.source.errors %}
            {% trans "<strong>You forgot to reference a source!</strong> Can you show us <em>where</em> you got this information?" %}
          {% else %}
            {% trans "What’s your <strong>source of information</strong> for this candidate?" %}
          {% endif %}
          {{ settings.SOURCE_HINTS }}
        </label>
        {{ form.source }}
      </p>
    </div>
    <input type="submit" class="button" value="{% trans "Save changes" %}">
