{% load i18n %}
{% with contributor=image.extra.uploading_user %}
{% with user_reason=image.extra.user_copyright %}
{% with mod_reason=image.extra.copyright %}
{% with user_comment=image.extra.user_notes %}

  {% if contributor %}
    {% blocktrans %}This photo was uploaded by the user ‘{{ contributor }}’.{% endblocktrans %}
  {% endif %}
  {% if user_reason and user_reason != 'other'  %}
    {% trans "Their justification for its use on the site was:" %}
    {% include 'candidates/_photo-expand-reason.html' with reason=user_reason %}.
  {% endif %}
  {% if user_comment %}
    {% blocktrans %}They commented: “{{ user_comment }}”.{% endblocktrans %}
  {% endif %}
  {% if mod_reason != user_reason %}
    {% blocktrans trimmed %}The volunteer moderator who reviewed this photo picked a
    different justification for its use on the site, which was:{% endblocktrans %}
    {% include 'candidates/_photo-expand-reason.html' with reason=mod_reason %}.
  {% endif %}

  {# Photos not uploaded from the review queue have different metadata: #}

  {% if 'Approved from photo moderation queue' not in image.notes %}
    {% if image.source %}
      {% blocktrans with source=image.source %}The source of the image was “{{ source }}”.{% endblocktrans %}
    {% endif %}
    {% if image.notes and 'md5sum:' not in image.notes %}
      {% blocktrans with notes=image.notes %}Notes about this image: “{{ notes }}”.{% endblocktrans %}
    {% endif %}
  {% endif %}

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
