{% extends 'base.html' %}

{% block body_class %}{% endblock %}

{% block title %}About this site{% endblock %}

{% block hero %}
  <h1>About this site</h1>
{% endblock %}

{% block content %}

<div class="help-about">

<p>Please
email <a href="mailto:yournextmp@mysociety.org">yournextmp@mysociety.org</a>
with any feedback or bug reports.</p>

<p>The source code for this site
is <a href="https://github.com/mysociety/yournextmp-popit/">available
on GitHub</a>.</p>

<p>This site was developed by Mark Longair (mySociety), Sym Roe
(Democracy Club), Jenny Duckett and Zarino Zappia (mySociety).</p>

<p>The data on candidates from the last UK general election in
2010 is all taken from Edmund von der
Burg's <a href="http://www.yournextmp.com">YourNextMP.com</a>,
with many thanks.</p>

</div>

{% endblock %}
