{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}{% endblock %}

{% block title %}{% trans "About this site" %}{% endblock %}

{% block hero %}
  <h1>{% trans "About this site" %}</h1>
{% endblock %}

{% block content %}
{% with email=settings.SUPPORT_EMAIL %}

<div class="help-about">

<p>{% blocktrans trimmed %}
Please email <a href="mailto:{{ email }}">{{ email }}</a>
with any feedback or bug reports.
{% endblocktrans %}</p>

<p>{% blocktrans trimmed %}
The source code for this site
is <a href="https://github.com/DemocracyClub/yournextrepresentative/">available
on GitHub</a>, and you can find
a <a href="https://github.com/DemocracyClub/yournextrepresentative/issues">list
of known bugs</a> there as well.
{% endblocktrans %}</p>

<p>{% blocktrans trimmed %}
This site was developed by Mark Longair (mySociety), Struan Donald
(mySociety), Sym Roe (Democracy Club), Zarino Zappia (mySociety), and
<a href="https://github.com/DemocracyClub/yournextrepresentative/graphs/contributors">many
other contributors</a>, to whom we owe a great debt of gratitude.
{% endblocktrans %}</p>

{% url 'help-api' as api_url %}
<p>{% blocktrans trimmed %}
You can use the data from this site, via the
<a href="{{ api_url }}">API or CSV download</a>, under the
terms of the Creative Commons licence
<a href="https://creativecommons.org/licenses/by-sa/4.0/">Attribution-ShareAlike
(CC-BY-SA)</a> with the exception of:
{% endblocktrans %}</p>

<ul>
    <li>{% trans "Party logos" %}</li>
    <li>{% blocktrans trimmed %}
Candidate photos, which are typically either submitted by the candidates
themselves, or from sources where it seems reasonable that we might use them on
this site, such as the party's official page for that candidate, or their
social media profile picture.
{% endblocktrans %}</li>
</ul>

<p>{% blocktrans trimmed %}
If the CC-BY-SA licence is problematic for you, but you feel that you have a
worthwhile use of the data in mind, please <a href="mailto:{{ email }}">contact
us</a> to discuss your situation further.
{% endblocktrans %}</p>

<h3>{% trans "Privacy Policy" %}</h3>

{% url 'help-privacy' as url %}
<p>{% blocktrans trimmed %}
The privacy policy of this site can be found
<a href="{{ url }}">here</a>.
{% endblocktrans %}</p>

<h3>{% trans "Photo Policy" %}</h3>

{% url 'help-photo-policy' as url %}
<p>{% blocktrans trimmed %}
The photo policy of this site can be found
<a href="{{ url }}">here</a>.
{% endblocktrans %}</p>

<h3>{% trans "Disclaimer" %}</h3>

<p>{% blocktrans trimmed %}
The data on this website is crowd-sourced and may not be
complete (or may contain inaccuracies). If you find an error,
please either update the page yourself, or
<a href="mailto:{{ email }}">email us</a> to report
the problem.{% endblocktrans %}</p>

</div>

{% endwith %}
{% endblock %}
