{% extends 'base.html' %}

{% block body_class %}{% endblock %}

{% block title %}About this site{% endblock %}

{% block hero %}
  <h1>About this site</h1>
{% endblock %}

{% block content %}

<div class="help-about">

<p>Please
email <a href="mailto:yournextmp@mysociety.org">yournextmp@mysociety.org</a>
with any feedback or bug reports. If you'd like to discuss this
site or any other project relating to elections in the UK, we'd
suggest that you post to
the <a href="https://groups.google.com/forum/#!forum/democracy-club">Democracy
Club Google Group</a>.</p>

<p>The source code for this site
is <a href="https://github.com/mysociety/yournextmp-popit/">available
on GitHub</a>, and you can find
a <a href="https://github.com/mysociety/yournextmp-popit/issues">list
of known bugs</a> there as well.</p>

<p>This site was developed by Mark Longair (mySociety), Sym Roe
(Democracy Club), Jenny Duckett and Zarino Zappia (mySociety).</p>

<p>The data on candidates from the last UK general election in
2010 is all taken from Edmund von der
Burg's <a href="http://www.yournextmp.com">YourNextMP.com</a>,
with many thanks.</p>

<p>You can use the data from this site, via the
<a href="{% url 'help-api' %}">API or CSV download</a>, under the
terms of the Creative Commons license
<a href="https://creativecommons.org/licenses/by-sa/4.0/">Attribution-ShareAlike
(CC-BY-SA)</a> with the exception of:</p>

<ul>
<li>The party logos, which are taken from the Electoral Commission's website</li>
<li>and candidate photos. The candidate photos are typically either
submitted by the candidates themselves, or from sources where it
seems reasonable that we might use them on this site, such as
the party's official page for that candidate.</li>
</ul>

<p>By submitting data to this site, you agree that it may be
distributed from this site
under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a>
or (in case we decide to offer it under alternative licenses
after <a href="https://github.com/mysociety/yournextmp-popit/issues/62">further
discussion</a>) <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>
or <a href="http://opendatacommons.org/licenses/odbl/">ODbL</a>.

<p>The privacy policy of this site can be found
<a href="{% url 'help-privacy' %}">here</a>.</p>

<h3>Disclaimer</h3>

<p>The data on this website is crowd-sourced and may not be
complete (or may contain inaccuracies).</p>

</div>

{% endblock %}
