{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}{% endblock %}

{% block title %}{% trans "API for candidates" %}{% endblock %}

{% block hero %}
  <h1>{% trans "Using this data via the API" %}</h1>
{% endblock %}

{% block content %}

<div class="help-api">

<p>{% blocktrans trimmed %}
The data that's submitted to this site is available as a CSV/Excel download and
programmatically via a RESTful API.
{% endblocktrans %}</p>

<h2>{% trans "Election results" %}</h2>

<p>{% blocktrans trimmed %}
There is <a href="{{ help_results_url }}">a separate page
explaining how to get election results from this site</a>.
{% endblocktrans %}</p>

<h2>{% trans "CSV/Excel Download" %}</h2>

  <h3>{% trans "All Candidates" %}</h3>

  <p>{% blocktrans trimmed %}
    This CSV file contains details of all candidates in the
    database.
  {% endblocktrans %}</p>

  <ul>
    <li><a href="{{ MEDIA_URL }}candidates-all.csv">{% blocktrans %}Download data about all of the candidates{% endblocktrans %}</a></li>
  </ul>

  {% for era in grouped_elections %}
    <div>
      <h3>{% if era.current %}
        {% trans "Current Elections" %}
      {% else %}
        {% trans "Past Elections" %}
      {% endif %}</h3>
      {% for role_data in era.roles %}
        <h4>{{ role_data.role }}</h4>
        <ul>
          {% for election in role_data.elections %}
            {% with slug=election.election.slug title=election.election.name %}
              <li><a href="{{ MEDIA_URL }}candidates-{{ slug }}.csv">{% blocktrans %}Download of the {{ title }} candidates {% endblocktrans %}</a></li>
            {% endwith %}
          {% endfor %}
        </ul>
      {% empty %}
        <p>{% if era.current %}{% blocktrans trimmed %}
          There are no current elections.
        {% endblocktrans %}{% else %}{% blocktrans trimmed %}
           There are no past elections.
        {% endblocktrans %}{% endif %}</p>
      {% endfor %}
  </div>
  {% endfor %}

<h2>{% trans "API" %}</h2>

<h3>{% trans "This API is a work in progress" %}</h3>

<p>
  {% blocktrans trimmed %}
    This is an alpha version of the YourNextRepresentative API,
    which is likely to change in the near future.
  {% endblocktrans %}
</p>

<h3>{% trans "Browsable API root" %}</h3>

<p>
{% blocktrans trimmed %}
  The browsable base URL of the site's read-only API is: <a href="{{ base_api_url }}">{{ base_api_url }}</a>
{% endblocktrans %}
</p>

<p>
{% blocktrans trimmed %}
  The following sections give examples of how to use the API.
{% endblocktrans %}
</p>

<h3>{% trans "Find a Constituency ID" %}</h3>

<p>{% blocktrans trimmed %}
In order to look up candidates for a constituency, you have
to find the ID of that constituency. The IDs that we use for
constituencies are the IDs for Westminster constituencies areas
in another web
service, <a href="http://mapit.mysociety.org">MapIt</a>.
{% endblocktrans %}</p>

<h4>{% trans "... from a postcode" %}</h4>

<p>{% blocktrans trimmed %}
Suppose you want to find the constituency for the postcode
SW1A&nbsp;1AA, then you would make a GET request to the
following URL:
{% endblocktrans %}</p>

<pre class="code-sample">
<a href="http://mapit.mysociety.org/postcode/SW1A1AA">http://mapit.mysociety.org/postcode/SW1A1AA</a>
</pre>

<p>{% blocktrans trimmed %}
This <a href="http://mapit.mysociety.org/postcode/SW1A1AA">returns
a JSON object</a>, wherein the constituency ID can be found
at <tt>.shortcuts.WMC</tt>.
{% endblocktrans %}</p>

<p>{% blocktrans trimmed %}
There's more documentation available
on <a href="http://mapit.mysociety.org/#api-by_postcode">postcode
lookups on the MapIt front-page</a>.
{% endblocktrans %}</p>

<h4>{% trans "... from a latitude / longitude or other coordinate" %}</h4>

<p>{% blocktrans trimmed %}
You can look up constituencies in MapIt using a variety of
coordinate systems. To give the most common example, you might
have a WGS84 coordinate from a GPS or location API, in which can
you should put the SRID 4326 in your lookup. For example,
latitude 52.205083 and longitude 0.115194 could be looked up with:
{% endblocktrans %}</p>

<pre class="code-sample">
<a href="http://mapit.mysociety.org/point/4326/0.115194,52.205083?type=WMC">http://mapit.mysociety.org/point/4326/0.115194,52.205083?type=WMC</a>
</pre>

{% blocktrans trimmed %}
(Note that the longitude comes before the latitude, which might
not be what you expect.) The only key in that object is the
constituency ID.
{% endblocktrans %}

<p>{% blocktrans trimmed %}
There's more documentation available
on <a href="http://mapit.mysociety.org/#api-by_point">point
lookups on the MapIt front-page</a>.
{% endblocktrans %}</p>

<h4>{% trans "... by selecting it from its name" %}</h4>

{% blocktrans trimmed %}
If you need to produce a list of all constituencies (e.g. for a
select box) and allow the user to pick one, you can get a list
of all Westminster constituencies in the UK from this request:
{% endblocktrans %}

<pre class="code-sample">
<a href="http://mapit.mysociety.org/areas/WMC">http://mapit.mysociety.org/areas/WMC</a>
</pre>

<p>{% blocktrans trimmed %}
The <a href="http://mapit.mysociety.org/areas/WMC">returned
data from that request</a> has the constituency ID as its keys;
the values are objects that include (among other things)
a <tt>name</tt> element that gives you the official name of the
constituency.
{% endblocktrans %}</p>

<h3>{% trans "Find Candidates for a Constituency" %}</h3>

<p>
  {% blocktrans trimmed %}
    You can request all the candidates in that constituency by
    querying posts with the <tt>extra_slug</tt> filter
    parameter.  For example, for Dulwich and West Norwood, which
    has the ID <tt>65808</tt>, you would make the request:
    <a href="{{ base_api_url }}posts/65808/">{{ base_api_url }}posts/65808/</a>
  {% endblocktrans %}
</p>

<p>
  {% blocktrans trimmed %}
    Each of the <tt>memberships</tt> in that reponse links to a
    person who is a candidate in that constituency for any known
    election.  The <tt>election</tt> property of each membership
    tells you which election that candidacy is for.
  {% endblocktrans %}
</p>

{% endblock %}
