{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}{% endblock %}

{% block title %}{% trans "API for candidates" %}{% endblock %}

{% block hero %}
  <h1>{% trans "Using the candidate data" %}</h1>
{% endblock %}

{% block content %}

<div class="help-api">


<p>{% blocktrans trimmed %}
The data that's submitted to this site is available as a <a href="#csv">CSV/Excel download</a> and
<a href="#api">programmatically via a RESTful API</a>.
{% endblocktrans %}</p>


<div class="panel callout radius">
  <h2>Using our data</h2>
  <p>The data on this site is provided under a <a href="https://creativecommons.org/licenses/by-sa/3.0/">
    CC BY-SA licence.</a></p>
  <p>This means you are free to reuse the data for any reason, as long as you give attribution to "Democracy Club"
    and any reuse is shared under the same licence.  <a href="https://creativecommons.org/licenses/by-sa/3.0/">
      Please read the full terms for more information.</a></p>
  <p>This licence excludes:</p>
  <ul>
    <li>The party logos, which are taken from the Electoral Commission's website</li>
    <li>Candidate photos, which are typically either submitted by the candidates themselves,
      or from sources where it seems reasonable that we might use them on this site,
      such as the party's official page for that candidate, or their social media profile picture.</li>
  </ul>
  <p>If the CC-BY-SA licence is problematic for you, but you feel that you have a worthwhile use of the data in mind,
    please contact us to discuss your situation further.</p>
  <h3>Giving attribution</h3>
  <p>If you are reusing our data, please credit "Democracy Club" on the same page(s) as the data is used,
    and provide a link (or write the URL in the case of printed material) to
    <a href="https://democracyclub.org.uk">https://democracyclub.org.uk</a></p>
  <p>We would like you to include <a href="https://democracyclub.org.uk/static/dc_theme/images/logo-with-text-2017.png">
    our logo</a> alongside the data, but we understand that this won't always be possible.</p>
</div>


<h2>{% trans "Election results" %}</h2>

<p>{% blocktrans trimmed %}
There is <a href="{{ help_results_url }}">a separate page
explaining how to get election results from this site</a>.
{% endblocktrans %}</p>

<h2 id="csv">{% trans "CSV/Excel Download" %}</h2>

  <h3>{% trans "All Candidates" %}</h3>

  <p>{% blocktrans trimmed %}
    This CSV file contains details of all candidates in the database
  {% endblocktrans %}</p>

  <ul>
    <li><a href="{{ MEDIA_URL }}candidates-all.csv">{% blocktrans %}Download of the all candidates {% endblocktrans %}</a></li>
  </ul>

  {% for era in grouped_elections %}
    <div>
      <h3>{% if era.current %}
        {% trans "Current Elections" %}
      {% else %}
        {% trans "Past Elections" %}
      {% endif %}</h3>
        {% for date, roles in era.dates.items %}
        <h4>{{ date }}</h4>
          {% for role_data in roles %}
            <h5>{{ role_data.role }}</h5>
            <ul>
              {% for election in role_data.elections %}
                {% with slug=election.election.slug title=election.election.name %}
                  <li><a href="{{ MEDIA_URL }}candidates-{{ slug }}.csv">{% blocktrans %}Download of the {{ title }} candidates {% endblocktrans %}</a></li>
                {% endwith %}
              {% endfor %}
            </ul>
          {% endfor %}
        {% endfor %}

  </div>
  {% endfor %}

<h2 id="api">{% trans "API" %}</h2>

<h3>{% trans "This API is a work in progress" %}</h3>

<p>
  {% blocktrans trimmed %}
    This is an alpha version of the YourNextRepresentative API,
    which is likely to change in the near future.
  {% endblocktrans %}
</p>

<h3>{% trans "Browsable API root" %}</h3>

<p>
{% blocktrans trimmed %}
  The browsable base URL of the site's read-only API is: <a href="{{ base_api_url }}">{{ base_api_url }}</a>
{% endblocktrans %}
</p>

<p>
{% blocktrans trimmed %}
  The following sections give examples of how to use the API.
{% endblocktrans %}
</p>

<h3>{% trans "Find a Constituency ID" %}</h3>

<p>{% blocktrans trimmed %}
In order to look up candidates for a constituency, you have
to find the ID of that constituency. As of the 2016 local and
regional elections we use a combination of area type and
<a href="https://en.wikipedia.org/wiki/ONS_coding_system">GSS</a>
codes. You can look up the GSS codes using another web
service, <a href="http://mapit.mysociety.org">MapIt</a>. There's
a list of
<a href="https://mapit.mysociety.org/docs/#api-multiple_areas">
area types in the MapIt API documentation</a>.
{% endblocktrans %}</p>

<h4>{% trans "... from a postcode" %}</h4>

<p>{% blocktrans trimmed %}
Suppose you want to find the constituency for the postcode
SW1A&nbsp;1AA, then you would make a GET request to the
following URL:
{% endblocktrans %}</p>

<pre class="code-sample">
<a href="http://mapit.mysociety.org/postcode/SW1A1AA">http://mapit.mysociety.org/postcode/SW1A1AA</a>
</pre>

<p>{% blocktrans trimmed %}
This <a href="http://mapit.mysociety.org/postcode/SW1A1AA">returns
a JSON object</a>, which contains the details of all the admistrative
areas that cover that postcode. You need to loop over the <tt>areas</tt> object
till you find the area with the correct <tt>type</tt> - for Westminster
constitiencies this is <tt>WMC</tt>. The GSS code for that area is in
<tt>codes.gss</tt>.
{% endblocktrans %}</p>

<p>{% blocktrans trimmed %}
There's more documentation available
on <a href="http://mapit.mysociety.org/#api-by_postcode">postcode
lookups on the MapIt front-page</a> and
<a href="https://mapit.mysociety.org/docs/#api-multiple_areas">
area codes in MapIt API documentation</a>.
{% endblocktrans %}</p>

<h4>{% trans "... from a latitude / longitude or other coordinate" %}</h4>

<p>{% blocktrans trimmed %}
You can look up constituencies in MapIt using a variety of
coordinate systems. To give the most common example, you might
have a WGS84 coordinate from a GPS or location API, in which can
you should put the SRID 4326 in your lookup. For example,
latitude 52.205083 and longitude 0.115194 could be looked up with:
{% endblocktrans %}</p>

<pre class="code-sample">
<a href="http://mapit.mysociety.org/point/4326/0.115194,52.205083?type=WMC">http://mapit.mysociety.org/point/4326/0.115194,52.205083?type=WMC</a>
</pre>

{% blocktrans trimmed %}
(Note that the longitude comes before the latitude, which might
not be what you expect.) The returned object should have a single
key and inside the value the GSS code is in <tt>codes.gss</tt>.
{% endblocktrans %}

<p>{% blocktrans trimmed %}
There's more documentation available
on <a href="http://mapit.mysociety.org/#api-by_point">point
lookups on the MapIt front-page</a>.
{% endblocktrans %}</p>

<h4>{% trans "... by selecting it from its name" %}</h4>

{% blocktrans trimmed %}
If you need to produce a list of all constituencies (e.g. for a
select box) and allow the user to pick one, you can get a list
of all Westminster constituencies in the UK from this request:
{% endblocktrans %}

<pre class="code-sample">
<a href="http://mapit.mysociety.org/areas/WMC">http://mapit.mysociety.org/areas/WMC</a>
</pre>

<p>{% blocktrans trimmed %}
The <a href="http://mapit.mysociety.org/areas/WMC">returned
data from that request</a> includes a set of keys, the values
of which contains the GSS code in <tt>codes.gss</tt>.
{% endblocktrans %}</p>

<h3>{% trans "Find Candidates for a Constituency" %}</h3>

<p>
  {% blocktrans trimmed %}
    You can request all the candidates in that constituency by
    querying posts with the <tt>extra_slug</tt> filter
    parameter.  For example, for Dulwich and West Norwood, which
    has the GSS code <tt>E14000673</tt>, you would make the request:
    <a href="{{ base_api_url }}posts/WMC:E14000673/">{{ base_api_url }}posts/WMC:E14000673/</a>
  {% endblocktrans %}
</p>

<p>
  {% blocktrans trimmed %}
    Each of the <tt>memberships</tt> in that response links to a
    person who is a candidate in that constituency for any known
    election.  The <tt>election</tt> property of each membership
    tells you which election that candidacy is for.
  {% endblocktrans %}
</p>

<h4>{% trans 'Pre 2016 data' %}</h4>

<p>
  {% blocktrans trimmed %}
  Prior to the 2016 local and regional elections we used the MapIt codes
  for areas. For postcode lookups this is available from <tt>shortcuts.wmc</tt>
  in the returned object. For the point lookup and by type lookups the
  MapIt ID are contained in the keys of the returned object.
  {% endblocktrans %}
</p>

<p>
  {% blocktrans trimmed %}
  Dulwich and West Norwood as a MapIt ID of 65808 so to look up the pre 2016
  results you would make the request:
  <a href="{{ base_api_url }}posts/65808/">{{ base_api_url }}posts/65808/</a>
  {% endblocktrans %}
</p>


{% endblock %}
