{% extends 'base.html' %}
{% load i18n %}

{% load metadescription %}
{% load standing %}
{% load exists %}

{% block body_class %}areas-of-type{% endblock %}

{% block title %}{% blocktrans %}{{ area_type.name }}{% endblocktrans %}{% endblock %}

{% block hero %}
  <h1>{% blocktrans with area_type_name=area_type.name %}{{ area_type_name }}{% endblocktrans %}</h1>
{% endblock %}

{% block content %}

  {% for area_url, area_name in areas %}
    {% if forloop.first %}
      <ul>
    {% endif %}
      <li><a href="{{ area_url }}">{{ area_name }}</a></li>
    {% if forloop.last %}
      </ul>
    {% endif %}
  {% empty %}
    <p>
      {% blocktrans trimmed with area_type_name=area_type.name %}
        No areas found of type {{ area_type_name }}.
      {% endblocktrans %}
    </p>
  {% endfor %}

{% endblock %}
