{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}{% endblock %}

{% block title %}
  {% blocktrans trimmed with site_name=site.name %}
    {{ site_name }} user agreement
  {% endblocktrans %}
{% endblock %}

{% block hero %}
  <h1>
      {% blocktrans trimmed with site_name=site.name %}
        {{ site_name }} user agreement
      {% endblocktrans %}
  </h1>
{% endblock %}

{% block content %}

<p>{% blocktrans with site_name=site.name copyright_holder=settings.COPYRIGHT_HOLDER trimmed %}
Before you carry on to edit data in {{ site_name }}, we need you to
agree that your contributions to this site (with the exception of
photo uploads) are owned by {{ copyright_holder }}. In return, we
agree to make the complete database available under an open licence
such as
<a href="http://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a>
or remove copyright restrictions by releasing into the public domain
(<a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a>).
{% endblocktrans %}
</p>

<form id="copyright_assignment" method="post" action="">
  {% csrf_token %}
  {{ form.next_path }}
  <p class="agreement">
  {{ form.assigned_to_dc.errors }}
  {{ form.assigned_to_dc }}
    <label for="{{ form.assigned_to_dc.id_for_label }}">
      <strong>
        {% blocktrans with site_name=site.name copyright_holder=settings.COPYRIGHT_HOLDER trimmed %}
          I assign the copyright of my contributions to {{ site_name }}
          (apart from photo uploads) to {{ copyright_holder }}.
        {% endblocktrans %}
      </strong>
    </label>
  </p>
  <input type="submit" class="button" value="{% trans "Continue" %}">
</form>

{% url 'account_logout' as url|add:"?next="|add:next_path_escaped %}
<p>{% blocktrans trimmed with email=settings.SUPPORT_EMAIL %}
  Otherwise you can <a href="{{ url }}">log out</a>. Please do
  <a href="mailto:{{ email }}">email us</a> if you have any
  questions about this agreement.
  {% endblocktrans %}</p>

<div class="further-copyright-explanation">

  <h4>{% trans "Why are we asking you to agree to this?" %}</h4>

  <p>{% blocktrans with site_name=site.name copyright_holder=settings.COPYRIGHT_HOLDER trimmed %}
    This is the simplest way to ensure that we can make this data as
    widely available as possible while preventing the hard work of
    contributors to {{ site_name }} being unfairly co-opted by
    companies building closed candidate databases. This also allows
    us the flexibility to release the data under different open licences
    in the future.
    {% endblocktrans %}
  </p>

</div>

{% endblock %}
