{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}candidacy-create-demand-source{% endblock %}

{% block title %}{% blocktrans with name=person.name %}How do you know that {{ name }} is standing?{% endblocktrans %}{% endblock %}

{% block hero %}
  <h1>{% blocktrans with name=person.name %}How do you know that {{ name }} is standing?{% endblocktrans %}</h1>
{% endblock %}

{% block content %}

<p>{% blocktrans trimmed with name=person.name election_name=election_data.name %}
Before updating our records we need to know the source for
your information that {{ name }} is standing for election
to the post of {{ post_label }} in the {{ election_name }}.{% endblocktrans %}</p>

{% include 'candidates/_source-plain.html' with action='candidacy-create' %}

{% endblock %}
