{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}candidacy-delete-demand-source{% endblock %}

{% block title %}{% blocktrans with name=person.name %}How do you know that {{ name }} isn’t standing?{% endblocktrans %}{% endblock %}

{% block hero %}
  <h1>{% blocktrans with name=person.name %}How do you know that {{ name }} isn’t standing?{% endblocktrans %}</h1>
{% endblock %}

{% block content %}

<p>{% blocktrans trimmed with name=person.name constituency=constituency.name %}
your information that {{ name }} <strong>isn’t</strong>
standing for election in the 2015 general election in
{{ constituency }}.{% endblocktrans %}</p>

{% include 'candidates/_source-plain.html' with action='candidacy-delete' %}

{% endblock %}
