{% extends 'base.html' %}
{% load absolute %}
{% load i18n %}
{% load metadescription %}
{% load standing %}
{% load exists %}

{% block extra_head %}
    <!-- Open Graph and Twitter card data -->
    <meta property="og:url" name="twitter:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:title" name="twitter:title" content="{% blocktrans with election_name=election_data.name %}Candidates for {{ post_label_shorter }} in the {{ election_name }}{% endblocktrans %}" />
    <meta property="og:description" name="twitter:description" content="{% blocktrans with election=election_data.name post=constituency_name %}List of Candidates for {{ post_label_shorter }} in the {{ election }}{% endblocktrans %} - {% blocktrans with site_name=site.name %}find out more on {{ site_name }}{% endblocktrans %}">

    <!-- Open Graph data -->
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ 'img/logo.png'|static_image_path:request }}" />
    <meta property="og:image:height" content="80" />
    <meta property="og:image:width" content="80" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:locale" content="{{ LOCALE }}" />

    <!-- Twitter card data -->
    <meta name="twitter:card" content="summary" />
    {% if settings.TWITTER_USERNAME %}
      <meta name="twitter:site" content="@{{ settings.TWITTER_USERNAME }}" />
    {% endif %}
    <meta property="twitter:image" content="{{ 'img/logo.png'|static_image_path:request }}" />
    <meta property="twitter:image:height" content="120" />
    <meta property="twitter:image:width" content="120" />
{% endblock %}

{% block body_class %}constituency{% endblock %}

{% block title %}{% blocktrans with election_name=election_data.name %}Candidates for {{ post_label_shorter }} in the {{ election_name }}{% endblocktrans %}{% endblock %}

{% block hero %}
  <h1>{% blocktrans %}Candidates for <span id="constituency-name">{{ post_label_shorter }}</span>{% endblocktrans %}</h1>
{% endblock %}

{% block content %}

{% include 'candidates/_candidates_for_post.html' %}

{% block other_resources %}
{% endblock %}

{% endblock %}
