{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}constituencies{% endblock %}

{% block title %}{% trans "Candidates by constituency for the UK 2015 General Election" %}{% endblock %}

{% block hero %}
  <h1>{% trans "All Constituencies for the 2015 General Election" %}</h1>
{% endblock %}

{% block content %}

<p>{% blocktrans trimmed %}
Follow one of the links below to see the known candidates
for that constituency:{% endblocktrans %}</p>

<ul>
  {% for post_extra in all_constituencies %}
    <li>
     <a href="{% url 'constituency' election=election post_id=post_extra.slug ignored_slug=post_extra.base.label|slugify %}">{{ post_extra.base.label }}</a>
    </li>
  {% endfor %}
</ul>

{% endblock %}
