{% extends 'base.html' %}

{% block body_class %}constituency{% endblock %}

{% block extra_js %}
  <script>
    $(function() {

      /* If Javascript's enabled, hide the source-confirmation
         boxes and the add new candidate form. */
      $('.source-confirmation').hide();
      $('.candidates__new').hide();

      /* Enable autocompletion for the party input box */
      var partyInput = $('#id_party'),
          autocompletePartyURL = "{{ autocomplete_party_url|escapejs }}";
      partyInput.autocomplete({
        source: autocompletePartyURL,
        minLength: 2
      });

      /* Set up the hide / reveal for the add new candidate form */
      $('.show-new-candidate-form').on('click', function(){
        $('.candidates__new').slideDown(function(){
          $('.candidates__new input:text').eq(0).focus();
        });
      });
      $('.hide-new-candidate-form').on('click', function(){
        $('.candidates__new').slideUp();
      });

      /* Handle showing/hiding the source confirmation box */
      $('.js-toggle-source-confirmation').on('click', function(){
        var $confirmation = $(this).parents('li').children('.source-confirmation');
        if($confirmation.is(':visible')){
          $confirmation.hide();
        } else {
          $confirmation.show().find('input:text').focus();
        }
      })
    });
  </script>
{% endblock %}
{% block hero %}
  <h1>Candidates for {{ constituency_name }}</h1>
{% endblock %}

{% block content %}

  {% if not user.is_authenticated %}
  <div class="encourage-login">
    If you want to help by changing this information, please
    <a href="{% url 'account_login' %}">log in</a>.
  </div>
  {% endif %}

  <div class="candidates__known">

    <h3>Known candidates for the 2015 general election</h3>

    {% for c in candidates_2015 %}
      {% if forloop.first %}
        <ul class="candidate-list">
      {% endif %}

        <li>
          {{ c.name }} ({{c.party.name }})
          {% if user.is_authenticated %}
          <p>
            <a class="button tiny js-toggle-source-confirmation">Not actually standing?</a>
            <a href="{% url 'person-update' person_id=c.id %}" class="button tiny secondary">Edit</a>
          </p>
          <div class="source-confirmation">
            <form method="post" action="{% url 'candidacy-delete' %}">
              {% csrf_token %}
              <input type="hidden" name="person_id" value="{{ c.id }}"/>
              <input type="hidden" name="mapit_area_id" value="{{ mapit_area_id }}"/>
              <label for="id_source">Before we save that, can you show us <em>where</em> you heard it?</label>
              <div class="row">
                <div class="small-12 medium-8 large-9 columns">
                  <input type="text" name="source" id="id_source" maxlength="512" required="required"/>
                </div>
                <div class="small-6 medium-4 large-3 columns">
                  <input type="submit" class="button expand" value="Save changes" />
                </div>
              </div>
            </form>
          </div>
          {% endif %}
        </li>

      {% if forloop.last %}
        </ul>
      {% endif %}
    {% empty %}
      <div class="no-candidates row">
        <p class="medium-8 columns"><strong>Oh no!</strong> We don’t know of any candidates in {{ constituency_name }}
        for the 2015 general election yet.</p>
        <p class="medium-4 columns"><a class="show-new-candidate-form button">Add a new candidate</a></p>
      </div>
    {% endfor %}

    {% if candidates_2015 and user.is_authenticated %}
      <div class="row">
        <p class="medium-4 columns"><a class="show-new-candidate-form button">Add a new candidate</a></p>
      </div>
    {% endif %}

  </div>

  {% if user.is_authenticated %}
  <div class="candidates__new" {% if add_candidate_form.errors %}style="display: block"{% endif %}>

    <h4>Add a new candidate</h4>

    <form method="post" action="{% url 'person-create' %}">
      {% csrf_token %}
        {% for field in add_candidate_form.visible_fields %}
          <p>
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
          </p>
        {% endfor %}
        <input type="hidden" id="id_constituency" name="constituency" value="{{ mapit_area_id }}">
      <input type="submit" class="button" value="Add new candidate">
      <a class="hide-new-candidate-form button secondary">Cancel</a>
    </form>

  </div>
  {% endif %}

{% if candidates_2010_might_stand_again %}
  <div class="candidates__previous">

    {% if user.is_authenticated %}
    <h3>Is a candidate from the 2010 election standing again?</h3>
    {% else %}
    <h3>We don't know if these candidates from the 2010 election are standing again</h3>
    {% endif %}

    <ul class="candidate-list">
      {% for c in candidates_2010_might_stand_again %}
        <li>
          {{ c.name }} ({{ c.party.name }})
          {% if user.is_authenticated %}
          <p>
            <a class="button tiny js-toggle-source-confirmation">Standing again</a>
            <a href="{% url 'person-update' person_id=c.id %}" class="button tiny secondary">Edit</a>
          </p>
          <div class="source-confirmation">
            <form method="post" action="{% url 'candidacy-create' %}">
              {% csrf_token %}
              <input type="hidden" name="person_id" value="{{ c.id }}"/>
              <input type="hidden" name="mapit_area_id" value="{{ mapit_area_id }}"/>
              <label for="id_source">Before we save that, can you show us <em>where</em> you heard it?</label>
              <div class="row">
                <div class="small-12 medium-8 large-9 columns">
                  <input type="text" name="source" id="id_source" maxlength="512" required="required"/>
                </div>
                <div class="small-6 medium-4 large-3 columns">
                  <input type="submit" class="button expand" value="Save changes" />
                </div>
              </div>
            </form>
          </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

  </div>
{% endif %}


{% if candidates_2010_not_standing_again %}
  <div class="candidates__not-standing">

    <h3>These candidates from 2010 are known not to be standing again</h3>

    <ul class="candidate-list">
      {% for c in candidates_2010_not_standing_again %}
        <li>
          {{ c.name }} ({{ c.party.name }})
          {% if user.is_authenticated %}
          <p>
            <a class="button tiny js-toggle-source-confirmation">Actually, they are standing!</a>
            <a href="{% url 'person-update' person_id=c.id %}" class="button tiny secondary">Edit</a>
          </p>
          <div class="source-confirmation">
            <form method="post" action="{% url 'candidacy-create' %}">
              {% csrf_token %}
              <input type="hidden" name="person_id" value="{{ c.id }}"/>
              <input type="hidden" name="mapit_area_id" value="{{ mapit_area_id }}"/>
              <label for="id_source">Before we save that, can you show us <em>where</em> you heard it?</label>
              <div class="row">
                <div class="small-12 medium-8 large-9 columns">
                  <input type="text" name="source" id="id_source" maxlength="512" required="required"/>
                </div>
                <div class="small-6 medium-4 large-3 columns">
                  <input type="submit" class="button expand" value="Save changes" />
                </div>
              </div>
            </form>
          </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

  </div>
{% endif %}


{% endblock %}
