{% extends 'base.html' %}

{% block content %}
  <h1>Candidates for {{ constituency_name }}</h1>

  <h3>Known candidates for the 2015 general election</h3>

  <ul>
    {% for c in candidates_2015 %}
      <li>
        {{ c.name }} ({{c.party.name }})
        <form method="post" action="{% url 'candidacy-delete' %}">
          {% csrf_token %}
          <input type="hidden" name="person_id" value="{{ c.id }}"/>
          <input type="hidden" name="organization_id" value="{{ new_candidate_list_id }}"/>
          <input type="submit" value="Not actually standing?" />
        </form>
      </li>
    {% empty %}
      <li>We don't know of any candidates in {{ constituency_name }}
      for the 2015 general election yet.</li>
    {% endfor %}
  </ul>

  <h4>Add a new candidate</h4>

  <form method="post" action="{% url 'person-create' %}">
    {% csrf_token %}
    <ul>
      {% for field in add_candidate_form.visible_fields %}
        <li>
          {{ field.errors }}
          {{ field.label_tag }} {{ field }}
        </li>
      {% endfor %}
      <input type="hidden" name="organization_id" value="{{ new_candidate_list_id }}">
    </ul>
    <input type="submit" value="Add new candidate">
  </form>

  <h3>Is a candidate from the 2010 election standing again?</h3>

  <ul>
    {% for c, already_standing in candidates_2010 %}
      <li>
        {{ c.name }} ({{ c.party.name }})
        {% if not already_standing %}
          <form method="post" action="{% url 'candidacy-create' %}">
            {% csrf_token %}
            <input type="hidden" name="person_id" value="{{ c.id }}"/>
            <input type="hidden" name="organization_id" value="{{ new_candidate_list_id }}"/>
            <input type="submit" value="Standing again?" />
          </form>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

{% endblock %}
