{% extends 'base.html' %}

{% block body_class %}constituencies{% endblock %}

{% block title %}Candidates (PPCs) by constituency for the UK 2015 General Election{% endblock %}

{% block hero %}
  <h1>All Constituencies for the 2015 General Election</h1>
{% endblock %}

{% block content %}

<p>Follow one of the links below to see the known candidates
(PPCs) for that constituency:</p>

<ul>
  {% for c in all_constituencies %}  
    <li>
     <a href="{% url 'constituency' election=election mapit_area_id=c.0 ignored_slug=c.1.name|slugify %}">{{ c.1.name }}</a>
    </li>
  {% endfor %}
</ul>

{% endblock %}
