{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}constituencies{% endblock %}

{% block title %}{% blocktrans trimmed with election_name=election_data.name %}
   Candidates by post for the {{ election_name }}
{% endblocktrans %}{% endblock %}

{% block hero %}<h1>{% blocktrans trimmed with election_name=election_data.name %}
  All posts in the {{ election_name }}
{% endblocktrans %}</h1>{% endblock %}

{% block content %}

<p>{% blocktrans trimmed %}
Follow one of the links below to see the known candidates
for that post:{% endblocktrans %}</p>

<ul>
  {% for postextraelection in all_constituencies %}
    <li>
     <a href="{% url 'constituency' election=election post_id=postextraelection.postextra.slug ignored_slug=postextraelection.postextra.base.label|slugify %}">
        {{ postextraelection.postextra.base.label }}</a>
        {% if postextraelection.candidates_locked %}
         - <abbr title="Candidates verified and post locked">🔒</abbr>
        {% elif postextraelection.postextra.suggestedpostlock_set.exists %}
        - <abbr title="Someone suggested locking this post">🔓</abbr>
        {% endif %}
    </li>  {% endfor %}
</ul>

{% endblock %}
