{% extends 'base.html' %}

{% block content %}
  <h1>Do you know about UK election candidates?</h1>

  <div class="subtitle">Help build a database of candidates for the 2015 general election!</div>

  {% if bad_postcode %}
  <div class="postcode-form-error">'{{ bad_postcode }}' was not a valid postcode</div>
  {% endif %}

  <h2>Enter your postcode below:</h2>

  <form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
  </form>

{% endblock %}
