{% extends 'base.html' %}

{% block extra_js %}
  <script>
    $(document).ready(function() {
      $('#id_constituency').select2({
        placeholder: 'Constituency',
        allowClear: true,
        width: '100%'
      });
    });
  </script>
{% endblock %}

{% block content %}
  <h1>Do you know about UK election candidates?</h1>

  <div class="subtitle">Help build a database of candidates for the 2015 general election!</div>

  {% if bad_postcode %}
  <div class="postcode-form-error">'{{ bad_postcode }}' was not a valid postcode</div>
  {% endif %}

  <h2>Enter your postcode below:</h2>

  <form id="form-postcode" action="{% url 'lookup-postcode' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
  </form>

  <h2>... or select a constituency:</h2>

  <form id="form-name" action="{% url 'lookup-name' %}" method="post">
    {% csrf_token %}
    {{ constituency_form.as_p }}
    <input type="submit" value="Submit" />
  </form>

{% endblock %}
