{% extends 'base.html' %}

{% load compressed %}

{% block body_class %}leaderboard{% endblock %}

{% block extra_js %}
{% compressed_js 'graphs' %}
{% endblock %}

{% block title %}Top users on YourNextMP{% endblock %}

{% block hero %}
  <h1>Top Users</h1>
{% endblock %}

{% block content %}

<svg></svg>

{% for leaderboard in leaderboards %}

  <h2>{{ leaderboard.title }}</h2>

  <table>
    <tr>
      <th>User</th>
      <th>Number of edits</th>
    </tr>
    {% for row in leaderboard.rows %}
      <tr>
        <td>{{ row.username }}</td>
        <td>{{ row.edit_count }}</td>
      </tr>
    {% endfor %}
  </table>

{% endfor %}

{% endblock %}
