{% extends 'base.html' %}

{% block body_class %}{% endblock %}

{% block title %}Top users on YourNextMP{% endblock %}

{% block hero %}
  <h1>Top Users</h1>
{% endblock %}

{% block content %}


<div class="row">
  {% for leaderboard in leaderboards %}

    <div class="leaderboard" id="{{ leaderboard.title|slugify }}">
      <h2>{{ leaderboard.title }}</h2>
      <table>
        <tr>
          <th>User</th>
          <th>Number of edits</th>
        </tr>
        {% for row in leaderboard.rows %}
          <tr>
            <td>{{ row.username }}</td>
            <td>{{ row.edit_count }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>

  {% endfor %}
</div>

{% endblock %}
