{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}{% endblock %}

{% block title %}{% trans "Top Users" %}{% endblock %}

{% block hero %}
  <h1>{% trans "Top Users" %}</h1>
{% endblock %}

{% block content %}


<div class="row">
  {% for leaderboard in leaderboards %}

    <div class="leaderboard" id="{{ leaderboard.title|slugify }}">
      <h2>{{ leaderboard.title }}</h2>
      <table>
        <tr>
          <th>{% trans "User" %}</th>
          <th>{% trans "Number of edits" %}</th>
        </tr>
        {% for row in leaderboard.rows %}
          <tr>
            <td>{{ row.username }}</td>
            <td>{{ row.edit_count }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>

  {% endfor %}
</div>

{% endblock %}
