{% extends 'base.html' %}

{% load imagefixes %}

{% block body_class %}party{% endblock %}

{% block title %}{{ party_name }} &#8212; Candidates (PPCs) by constituency for the UK 2015 General Election{% endblock %}

{% block hero %}
  <h1>{{ party_name }}</h1>
{% endblock %}

{% block content %}

<div class="party__primary">

  {% if party_name == 'Independent' %}

    <p>This shows all the constituencies that have independent
      candidates standing in them at the 2015 general election</p>

  {% elif party_name == 'Speaker seeking re-election' %}

    <p>The Speaker of the House of Commons stands as a "The
      Speaker seeking re-election" rather than a particular party
      at a general election; for more information, please
      see <a href="http://www.parliament.uk/about/faqs/house-of-commons-faqs/speakers-election/">Parliament's
      website</a>.</p>

  {% elif register %}

    <p>The {{ party_name }} is on the Electoral Commission's register for {{ register }}.</p>

    <p>You can find more data from the party's Electoral Commission registration at the
      <a href="{{ oec_url }}">OpenElectoralCommission page for the
      {{ party_name }}</a>.</p>
    <p></p>

  {% endif %}

  {% for country, constituencies in candidates_by_country %}
    <h3>{{ country }}</h3>
    {% if constituencies %}
      <ul>
        {% for post_id, constituency_name, candidate in constituencies %}
          {% if candidate %}
            <li><a href="{% url 'person-view' person_id=candidate.person_id %}">{{ candidate.person_name }}</a>
              is standing in
              <a href="{% url 'constituency' mapit_area_id=post_id ignored_slug=constituency_name|slugify %}">{{ candidate.constituency_name }}</a></li>
          {% else %}
            <li>No candidate in <a href="{% url 'constituency' mapit_area_id=post_id ignored_slug=constituency_name|slugify %}">{{ constituency_name }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    {% else %}
      <p>We don't know of any {{ party_name }} candidates in {{ country }} so far.</p>
    {% endif %}

  {% endfor %}

</div>

<div class="party__secondary">
  {% for image_notes, image_url in emblems %}
    <img class="party-detail__image" src="{{ image_url|fixproxyurl }}"
      alt="{{ image_notes }}" title="{{ image_notes }}">
  {% endfor %}
</div>

{% endblock %}
