{% extends 'base.html' %}

{% block body_class %}person{% endblock %}

{% block hero %}
  <h1>Edit the details of {{ person.name }}</h1>
{% endblock %}

{% block content %}
  <p>
      Thanks for helping out!  Please make sure you read our
      <a href="https://docs.google.com/document/d/1iA5Tv3ZgjDHWNv6gbNESqL-C7Goz6ZSo1X9pPXwXspA/edit">guidance on sourcing fields</a>.
  </p>
  <div class="row">

  <h2>Edit basic candidate details</h2>

  <div class="row person-edit-separate-form">
    <div class="columns">
      <form id="person-details" action="{% url 'person-update' person_id=person.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="button" value="Save changes">
      </form>
    </div>
  </div>

  <h2>Upload a photo of {{ person.name }}</h2>

  <div class="row person-edit-separate-form">
    <div class="columns">
      <p>
        You can also <a href="{% url 'photo-upload' person.id %}">upload
        a photo of this candidate</a>.</p>
    </div>
  </div>

  {% if user.is_superuser %}
    <h2>Merge another candidate's record into this one</h2>

    <div class="row person-edit-separate-form">
      <div class="columns">
        <form id="person-merge" action="{% url 'person-merge' person_id=person.id %}" method="post">
          {% csrf_token %}
          <p>
            <label for="other">Other person to merge into this one:</label>
            <input id="other" name="other" placeholder="Other person ID" type="text"></input>
          </p>
          <input type="submit" class="button" value="Merge people">
        </form>
      </div>
    </div>
  {% endif %}

{% include 'candidates/person-versions.html' %}

{% endblock %}
