{% extends 'base.html' %}

{% block body_class %}person{% endblock %}

{% block extra_js %}
  <script>
    $(document).ready(function() {
      var standingCheckbox = $('#person-details input#id_standing'),
        partyInput = $('#id_party'),
        autocompletePartyURL = "{{ autocomplete_party_url|escapejs }}",
        constituencySelect = $('#id_constituency');
      /* Enable autocompletion for the party input box */
      partyInput.autocomplete({
        source: autocompletePartyURL,
        minLength: 2
      });
      /* Enable Select2 for any constituency selector */
      constituencySelect.select2({
        placeholder: 'Constituency',
        allowClear: true,
        width: '100%'
      });
      /* Disable the constituencySelect box based on whether the
         'standing' checkbox is selected or not. */
      if (standingCheckbox.length) {
        constituencySelect.prop(
          'disabled',
          !standingCheckbox.prop('checked')
        );
      }
      /* And if the state of the statnding checkbox is changed, disable
         or enable the constituency select box. */
      standingCheckbox.on('change', function() {
        constituencySelect.prop(
          'disabled',
          !$(this).prop('checked')
        );
      });
    });
  </script>
{% endblock %}

{% block hero %}
  <h1>Edit the details of {{ person.name }}</h1>
{% endblock %}

{% block content %}
  <form id="person-details" action="{% url 'person-update' person_id=person.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="button" value="Save changes">
  </form>

<div class="versions">
<h2>Previous Versions</h2>
  {% for version in person.versions %}
    <div class="version">
      <div class="version-metadata">
        <div>
          <span class="version-metadata-key">Username:</span>
          <span class="version-metadata-value">{{ version.username }}</span>
        </div>
        <div>
          <span class="version-metadata-key">IP address:</span>
          <span class="version-metadata-value">{{ version.ip }}</span>
        </div>
        <div>
          <span class="version-metadata-key">Timestamp:</span>
          <span class="version-metadata-value">{{ version.timestamp }}</span>
        </div>
        <div>
          <span class="version-metadata-key">Source of information:</span>
          <span class="version-metadata-value">{{ version.information_source }}</span>
        </div>
      </div>
      <form action="{% url 'person-revert' person_id=person.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="version_id" value="{{ version.version_id }}"/>
        <input type="text" name="source" id="id_source" maxlength="512" required="required" value="Reverting to version {{ version.version_id }} because ..."/>
        <input type="submit" class="button tiny" value="Revert to this version" />
      </form>
      <pre class="version-json">{{ version.data }}
      </pre>
    </div>
  {% endfor %}
</div>

{% endblock %}
