{% extends 'base.html' %}

{% load staticfiles %}
{% load imagefixes %}

{% block extra_head %}
    <link rel="canonical" href="{% url 'person-view' person.id person.name|slugify %}" />
{% endblock %}


{% block body_class %}person{% endblock %}

{% block title %}{{ person.name }} {% if last_cons %} - Candidate (PPC) for {{ last_cons.1.name }} in {{ last_cons.0 }}{% endif %}{% endblock %}

{% block hero %}
<div class="person__hero">
  {% if person.image %}
    <img class="person-avatar" src="{{ person.proxy_image|fixproxyurl }}/0/80"/>
  {% elif person.gender == 'female' %}
    <img class="person-avatar" src="{% static 'candidates/img/blank-woman.png' %}"/>
  {% else %}
    <img class="person-avatar" src="{% static 'candidates/img/blank-man.png' %}"/>
  {% endif %}
  <h1>{{ person.name }}</h1>
  {% if last_cons %}
    <p>Candidate for <a href="{% url 'constituency' last_cons.1.post_id last_cons.1.name|slugify %}">{{ last_cons.1.name }}</a> in {{ last_cons.0 }}</p>
  {% endif %}
</div>
{% endblock %}

{% block content %}

<div class="person__details">

  <h2>Personal details:</h2>

  <dl>
    <dt>Name</dt>
    <dd>{{ person.name }}</dd>
    {% if person.other_names %}
      <dt>Also known as</dt>
    {% endif %}
    {% for other_name in person.other_names %}
      <dd>{{ other_name.name }}{% if other_name.note %} ({{ other_name.note }}){% endif %}</dd>
    {% endfor %}
    <dt>Gender</dt>
    <dd>{% if person.gender %}{{ person.gender|title }}{% else %}Unknown{% endif %}</dd>
  </dl>

  <h2>Contact details:</h2>

  <dl>
    <dt>Twitter</dt>
    <dd>{% if person.twitter_username %}<a rel="nofollow" href="https://twitter.com/{{ person.twitter_username }}">@{{ person.twitter_username }}</a>{% endif %}</dd>
    <dt>Facebook</dt>
    {% if person.facebook_personal_url %}
      <dd><a rel="nofollow" href="{{ person.facebook_personal_url }}">{{ person.facebook_personal_url }} <small>(personal profile)</small></dd>
    {% endif %}
    {% if person.facebook_page_url %}
      <dd><a rel="nofollow" href="{{ person.facebook_page_url }}">{{ person.facebook_page_url }} <small>(campaign page)</small></dd>
    {% endif %}
    {% if not person.facebook_personal_url and not person.facebook_page_url %}
      <dd></dd>
    {% endif %}
    <dt>Homepage</dt>
    <dd>{% if person.homepage_url %}<a rel="nofollow" href="{{ person.homepage_url }}">{{ person.homepage_url }}{% endif %}</dd>
    <dt>Wikipedia page</dt>
    <dd>{% if person.wikipedia_url %}<a rel="nofollow" href="{{ person.wikipedia_url }}">{{ person.wikipedia_url }}{% endif %}</dd>
    <dt>Official party page</dt>
    <dd>{% if person.party_ppc_page_url %}<a rel="nofollow" href="{{ person.party_ppc_page_url }}">{{ person.party_ppc_page_url }}{% endif %}</dd>
  </dl>

  <h2>Constituencies:</h2>

  <dl>
    <dt>Contested in 2015</dt>
    <dd>{% if person.standing_in.2015 %}
      <a href="{% url 'constituency' person.standing_in.2015.post_id person.standing_in.2015.name|slugify  %}">{{ person.standing_in.2015.name }}</a>
      <span class="party">as {{ person.party_memberships.2015.name }} candidate</span>
    {% endif %}</dd>
    <dt>Contested in 2010</dt>
    <dd>{% if person.standing_in.2010 %}
      <a href="{% url 'constituency' person.standing_in.2010.post_id person.standing_in.2010.name|slugify  %}">{{ person.standing_in.2010.name }}</a>
      <span class="party">as {{ person.party_memberships.2010.name }} candidate</span>
    {% endif %}</dd>
  </dl>

</div>

<div class="person__actions">

  <div class="person__actions__edit">
    <h2>Improve this data!</h2>
    <p>Our database is built by people like you.</p>
    <p>Please do add extra details about this candidate – it only takes a moment.</p>
    {% if user.is_authenticated %}
      <a href="{% url 'person-update' person_id=person.id %}" class="button">Edit candidate</a>
    {% else %}
      <a href="{% url 'account_login' %}?next={{ redirect_after_login }}" class="button">Log in to edit</a>
    {% endif %}
  </div>

  <div class="person__actions__data">
    <h2>Use this data!</h2>
    <p>Open data JSON API:</p>
    <p><input type="text" value="{{ popit_api_url }}persons/{{ person.id }}"></p>
    <p>Want a CSV download? <a href="https://github.com/mysociety/yournextmp-popit/issues/96">Vote for it!</a></p>
  </div>

</div>

{% include 'candidates/person-versions.html' %}

{% endblock %}
