{% extends 'base.html' %}

{% load i18n %}
{% load thumbnail %}
{% load static %}

{% block body_class %}person{% endblock %}

{% block hero %}
<div class="person__hero">
  <div class="person__photo">
    {% if person.extra.primary_image %}
      {% thumbnail person.extra.primary_image "x80" as im %}
        <img class="person-avatar" src="{{ im.url }}"/>
      {% endthumbnail %}
    {% elif person.gender|lower == 'female' %}
      <img class="person-avatar" src="{% static 'candidates/img/blank-woman.png' %}"/>
    {% else %}
      <img class="person-avatar" src="{% static 'candidates/img/blank-man.png' %}"/>
    {% endif %}
  </div>
  <h1>{% blocktrans with name=person.name %}Editing: {{ name }}{% endblocktrans %}</h1>
  {% with last_candidacy=person.extra.last_candidacy %}
    {% if last_candidacy %}
      {% with post=last_candidacy.post %}
        {% url 'constituency' election=last_candidacy.extra.election.slug post_id=post.extra.slug ignored_slug=post.extra.short_label|slugify as url %}
          <p>{% blocktrans with election=last_candidacy.extra.election.name post_name=post.extra.short_label %}Candidate for <a href="{{ url }}">{{ post_name }}</a> in {{ election }}{% endblocktrans %}</p>
      {% endwith %}
    {% endif %}
  {% endwith %}
</div>
{% endblock %}

{% block content %}

{% if user_can_edit %}

    {% block candidacy_wizard_instruction %}{% endblock %}

    {% if wizard.form.errors %}
      <div class="form-error-summary">
        {% if wizard.form.non_field_errors %}
          {{ wizard.form.non_field_errors.as_ul }}
        {% endif %}
      </div>
    {% endif %}

    <form id="add-candidacy-wizard" action="" method="post">
      {% csrf_token %}
      {{ wizard.management_form }}
      {{ wizard.form.as_p }}
      {% block candidacy_wizard_submit %}{% endblock %}
    </form>

{% else %}
  {% include 'candidates/_edits_disallowed_message.html' %}
{% endif %}

{% endblock %}
