{% extends 'base.html' %}

{% block body_class %}person{% endblock %}

{% block hero %}
  <h1>Edit the details of {{ person.name }}</h1>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="columns">
      <form id="person-details" action="{% url 'person-update' person_id=person.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p>Trying to upload a photo?  Please email <a href="mailto:yournextmp@mysociety.org">yournextmp@mysociety.org</a> and we'll upload it for you.</p>
        <input type="submit" class="button" value="Save changes">
      </form>
    </div>
  </div>

  {% if user.is_superuser %}
    <div class="row">
      <div class="columns">
        <form id="person-merge" action="{% url 'person-merge' person_id=person.id %}" method="post">
          {% csrf_token %}
          <p>
            <label for="other">Other person to merge into this one:</label>
            <input id="other" name="other" placeholder="Other person ID" type="text"></input>
          </p>
          <input type="submit" class="button" value="Merge people">
        </form>
      </div>
    </div>
  {% endif %}

{% include 'candidates/person-versions.html' %}

{% endblock %}
