{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}person{% endblock %}

{% block hero %}
  <h1>{% trans "Add a new candidate" %}</h1>
{% endblock %}

{% block content %}
<div class="person__details" id="person-details">
<form id="new-candidate-form" name="new-candidate-form" action="{% url 'person-create' election=election %}" method="post">
{% with form=add_candidate_form %}
  {% include 'candidates/_person_form.html' %}
{% endwith %}
</form>
</div>

<div class="person__actions">

  <div class="person__actions__action person__actions__sourcing">
    <h2>{% trans "Thanks for helping out!" %}</h2>
    <p>{% blocktrans trimmed %}
      Please make sure you read our <a href="https://docs.google.com/document/d/1lqC15-FUZl_mNzpEEoHG0mX8wyQ5GHZNUj61LE2KmoA/edit">guidance on sourcing fields</a>.
      {% endblocktrans %}</p>
  </div>
</div>

<div class="person__versions">
{% include 'candidates/person-versions.html' %}
</div>

{% endblock %}
