{% load prettyjson %}

<div class="versions">
<h3>All versions</h3>
  {% for version in person.versions %}
    <div class="version">
      <div class="version-metadata">
        <div>
          <span class="version-metadata-key">Username:</span>
          <span class="version-metadata-value">{{ version.username }}</span>
        </div>
        <div>
          <span class="version-metadata-key">Timestamp:</span>
          <span class="version-metadata-value">{{ version.timestamp }}</span>
        </div>
        <div>
          <span class="version-metadata-key">Source of information:</span>
          <span class="version-metadata-value">{{ version.information_source }}</span>
        </div>
      </div>
      {% if user.is_authenticated %}
        <form action="{% url 'person-revert' person_id=person.id %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="version_id" value="{{ version.version_id }}"/>
          <input type="text" name="source" id="id_source" maxlength="512" required="required" value="Reverting to version {{ version.version_id }} because ..."/>
          <input type="submit" class="button tiny" value="Revert to this version" />
        </form>
      {% endif %}
      <pre class="version-json">{{ version.data|prettyjson }}
      </pre>
    </div>
  {% endfor %}
</div>
