{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}popit-down{% endblock %}

{% block title %}
  {% blocktrans trimmed with site_name=site.name %}
    {{ site_name }} is Temporarily Unavailable
  {% endblocktrans %}
{% endblock %}

{% block hero %}
  <h1>{% trans "Error" %}</h1>
{% endblock %}

{% block content %}

<div class="popit-down">

<h2>
  {% blocktrans trimmed with site_name=site.name %}
    Sorry, {{ site_name }} is temporarily unavailable
  {% endblocktrans %}
</h2>

<p>{% blocktrans trimmed %}This usually means that we’re having to do some brief
maintenance, and the site will be back soon.{% endblocktrans %}</p>

</div>

{% endblock %}
