{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}posts{% endblock %}

{% block title %}{% trans "Candidates for all posts in current elections" %}{% endblock %}

{% block hero %}
  <h1>{% trans "All Posts in Current Elections" %}</h1>
{% endblock %}

{% block content %}

  <p>{% trans "Follow one of the links below to see the known candidates for that post:" %}</p>
  {% for era in elections_and_posts %}
    {% for date, roles in era.dates.items %}
      <h2>{{ date|date }}</h2>
      {% for role_data in roles %}
        <h3>{{ role_data.role }}</h3>
        {% for election_data in role_data.elections %}
          {% with election=election_data.election %}
            <h4><a href="{% url 'constituencies' election=election.slug %}">{{ election.name }}</a></h4>
            <ul>
              {% for p in election_data.postextraelections %}
                <li>
                 <a href="{% url 'constituency' election=election.slug post_id=p.postextra.slug ignored_slug=p.postextra.short_label|slugify %}">{{ p.postextra.base.label }}</a>

                 {% if p.candidates_locked %}
                  - <abbr title="Candidates verified and post locked">🔒</abbr>
                 {% elif p.postextra.suggestedpostlock_set.exists %}
                 - <abbr title="Someone suggested locking this post">🔓</abbr>
                 {% endif %}

                </li>
              {% endfor %}
            </ul>
          {% endwith %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  {% endfor %}

{% endblock %}
