{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}{% endblock %}

{% block title %}{% trans "Recent changes to the candidate database" %}{% endblock %}

{% block hero %}
  <h1>{% trans "Recent Changes" %}</h1>
{% endblock %}

{% block content %}

<table>
  <tr>
    <th>{% trans "User" %}</th>
    <th>{% trans "Date and time" %}</th>
    <th>{% trans "Action" %}</th>
    <th>{% trans "Candidate edited" %}</th>
    <th>{% trans "Information source" %}</th>
  </tr>
  {% for action in actions %}
    <tr>
      <td>{{ action.user.username }}</td>
      <td>{{ action.created }}</td>
      <td>{{ action.action_type }}</td>
      {% if action.person %}
        <td><a href="{% url 'person-view' person_id=action.person.id %}">{{ action.person.name }}</a></td>
      {% else %}
        <td></td>
      {% endif %}
      <td>{{ action.source }}</td>
    </tr>
  {% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if actions.has_previous %}
            <a href="?page={{ actions.previous_page_number }}">{% trans "previous" %}</a>
        {% endif %}

        <span class="current">
            {% blocktrans with n=actions.number num=actions.paginator.num_pages %}Page {{ n }} of {{ num }}.{% endblocktrans %}
        </span>

        {% if actions.has_next %}
            <a href="?page={{ actions.next_page_number }}">{% trans "next" %}</a>
        {% endif %}
    </span>
</div>

{% endblock %}
