{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}{% endblock %}

{% block title %}{% blocktrans with name=person.name %}Confirm that {{ name }} won in {{ constituency_name }}{% endblocktrans %}{% endblock %}

{% block hero %}
  <h1>{% blocktrans with name=person.name %}Confirm that {{ name }} won{% endblocktrans %}</h1>
{% endblock %}

{% block content %}

<form id="record_winner" method="post" action="{% url 'record-winner' election=election post_id=post_id %}">

{% csrf_token %}

{{ form.non_field_errors }}

{{ form.person_id }}

<div>
{{ form.source.errors }}
{{ form.source.label_tag }}
{{ form.source }}
</div>

<input
    type="submit"
    class="button"
    value="{% blocktrans trimmed with name=person.name party=person.last_party.name %}
Yes, {{ name }} ({{ party }}) won in {{ constituency_name }}{% endblocktrans %}"/>

<p>
<a href="{% url 'constituency' election=election post_id=post_id ignored_slug=constituency_name|slugify %}" class="button">{% trans "Cancel" %}</a>
</p>

</form>

{% endblock %}
