{% extends "base.html" %}
{% load i18n %}
{% load pipeline %}


{% block extra_css %}
{% stylesheet 'official_documents' %}
{% endblock %}

{% block hero %}<h1>{{ object.document_type }}</h1>{% endblock hero %}

{% block content %}

<p>
{% url 'constituency' election=object.election.slug post_id=object.post.extra.slug ignored_slug=post_label|slugify as url %}
{% blocktrans trimmed with type=object.document_type %}
{{ type }} for <a href="{{ url }}">{{ post_label }}</a>.
{% endblocktrans %}
{% blocktrans trimmed with source_url=object.source_url %}
The source URL for this document was: <a href="{{ source_url }}">{{ source_url }}</a>
{% endblocktrans %}
</p>

<iframe
  src="http{% if request.is_secure %}s{% endif %}://docs.google.com/viewer?url=http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{{ object.uploaded_file.url | urlencode}}&amp;embedded=true"
  frameborder="0"
  allowfullscreen
  class="document_viewer"></iframe>

{% if user.is_staff and user_can_upload_documents %}
{% url 'admin:official_documents_officialdocument_change' object.id as url %}
{% blocktrans trimmed %}
You can <a href="{{ url }}">edit this in the admin interface</a> (e.g. to delete it)
{% endblocktrans %}
{% endif %}

{% endblock content %}
