{% extends "base.html" %}
{% load compressed %}


{% block extra_css %}
{% compressed_css 'official_documents' %}
{% endblock %}

{% block hero %}<h1>{{ object.document_type }}</h1>{% endblock hero %}

{% block content %}

<p>
{{ object.document_type }} for <a href="{% url 'constituency' election=settings.ARBITRARY_CURRENT_ELECTION.0 mapit_area_id=object.mapit_id ignored_slug=constituency.name|slugify %}">{{ constituency.name }}</a>.
The source URL for this document was:
<a href="{{ object.source_url }}">{{ object.source_url }}</a>
</p>

<iframe
  src="http{% if request.is_secure %}s{% endif %}://docs.google.com/viewer?url=http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{{ object.uploaded_file.url | urlencode}}&amp;embedded=true"
  frameborder="0"
  allowfullscreen
  class="document_viewer"></iframe>

{% if user.is_staff and user_can_upload_documents %}
You can <a href="{% url 'admin:official_documents_officialdocument_change' object.id %}">edit this in the admin interface</a> (e.g. to delete it)
{% endif %}

{% endblock content %}
