$include-html-classes: false;

@import "../../foundation/scss/foundation";

/* This removes all size-related styles from the image for review; if
   we don't do this then Jcrop gets confused about the true size of
   the image and returns the wrong coordinates. */

.image-for-review-container img {
  max-width: none;
  max-height: none;
  height: auto;
  width: auto;
}

@media #{$large-up} {
  .photo-review__primary {
    @include grid-column($columns: 9, $collapse: true);
  }

  .photo-review__secondary {
    @include grid-column($columns: 2, $offset: 1, $collapse: true);

    & + * {
      clear: both;
    }
  }
}

.photo-review__existing-image {
  margin: 0.3em;
}

.photo-source-advice {
  font-size: 70%;
}

.photo-credit {
  font-size: 70%;
}
