<form id="person-upload-photo" action="{% url 'photo-upload' popit_person_id %}" method="post" enctype="multipart/form-data">

  {% if queued_images %}
    <p>
      <strong>Warning:</strong> there
      {{ queued_images.count|pluralize:"is,are" }} already
      {{ queued_images.count }} photo{{ queued_images.count|pluralize }}
      of {{ person.name }} in the queue, waiting to be moderated:
      <ul>
        {% for qi in queued_images %}
          <li>Photo uploaded by {{ qi.user.username }} at {{ qi.created }}</li>
        {% endfor %}
      </ul>
    </p>
  {% endif %}

  {{ form.non_field_errors }}
  {% csrf_token %}
  <p>
    {% if queued_images %}If you still want to upload another photo of
    {{ person.name }}, first
    {% else %}
    First,
    {% endif %}
    select an image from your computer:
  </p>
  <p>
    {{ form.image.errors }}
  </p>
  <p>
    {{ form.image }}
  </p>
  <p>Now let us know about the copyright of this image by selecting one of
   these options or explaining why we can use it:</p>
  <div class="photo-why-allowed-radio-buttons">
    {{ form.why_allowed.errors }}
    {{ form.why_allowed }}
  </div>
  <p>
    {{ form.justification_for_use.errors }}
    <label for="{{ form.justification_for_use.id_for_label }}">Here is my
      justification for why this photo may be reasonably used on the website,
      including the source URL:</label>
    {{ form.justification_for_use }}
  </p>
  {{ form.popit_person_id }}
  {{ form.decision }}
  <input type="submit" class="button" value="Upload">
</form>
