{% extends 'base.html' %}

{% block body_class %}{% endblock %}

{% block title %}Uploaded photos for review{% endblock %}

{% block hero %}
  <h1>Uploaded photos for review</h1>
{% endblock %}

{% block content %}

  <ul class="photo-review-queue">
  {% for queued_image in object_list %}
    <li>
      <a href="{% url 'photo-review' queued_image_id=queued_image.id %}">
        Photo of candidate {{ queued_image.popit_person_id }} uploaded by
        {{ queued_image.user.username }}.
      </a>
    </li>
  {% empty %}
    <li>
      <strong>Congratulations!</strong> There are no more photos to review.
    </li>
  {% endfor %}
  </ul>

{% endblock %}
