{% extends 'base.html' %}

{% load i18n %}
{% load pipeline %}
{% load thumbnail %}

{% block extra_css %}
{% stylesheet 'image-review' %}
{% endblock %}

{% block extra_js %}
{% javascript 'image-review' %}
{% endblock %}

{% block body_class %}{% endblock %}

{% block title %}{% trans "Review and crop the photo" %}{% endblock %}

{% block hero %}
  <h1>{% trans "Review and crop the photo" %}</h1>
{% endblock %}

{% block content %}

<div class="photo-review__primary">

  <p>{{ form.errors }}</p>

  {% include 'moderation_queue/_photo-policy.html' %}

  {% url 'person-view' person.id person.name|slugify as url %}
  <p>{% blocktrans trimmed with name=person.name party=person.extra.last_party.name %}
  Please check that this is really <a href="{{ url }}">{{ name }}</a>
  ({{ party }}) before approving the upload. This
  <a href="{{ google_image_search_url }}">Google Image search for candidate
  details</a> may be a good start.{% endblocktrans %}</p>

  <p>{% blocktrans trimmed %}
  If you're trying to find the likely <em>source</em> of this image, you can
  also do a <a href="{{ google_reverse_image_search_url }}">reverse image
  search</a> on the uploaded image.{% endblocktrans %}</p>

  <h3>{% trans "Click and drag in the image to crop" %}</h3>

  <p>{% blocktrans trimmed %}Please crop to just around the candidate's head, since
  they're displayed in thumbnail form on the site.{% endblocktrans %}</p>

  <div class="image-for-review-container">
    <img id="image-for-review"
      data-has-crop-bounds="{{ has_crop_bounds }}"
      data-default-min-x="{{ guessed_crop_bounds.0 }}"
      data-default-min-y="{{ guessed_crop_bounds.1 }}"
      data-default-max-x="{{ guessed_crop_bounds.2 }}"
      data-default-max-y="{{ guessed_crop_bounds.3 }}"
      src="{{ queued_image.image.url }}">
  </div>

  <form id="photo-review-form" method="post">

    {% csrf_token %}
    {{ form.non_field_errors }}

    <p>
        {{ form.queued_image_id }}
    </p>

    <div class="crop-coordinates">
      <p>
        {{ form.x_min.errors }}
        <label for="{{ form.x_min.id_for_label }}">{% trans "Minimum X co-ordinate:" %}</label>
        {{ form.x_min }}
      </p>
      <p>
        {{ form.x_max.errors }}
        <label for="{{ form.x_max.id_for_label }}">{% trans "Maximum X co-ordinate:" %}</label>
        {{ form.x_max }}
      </p>
      <p>
        {{ form.y_min.errors }}
        <label for="{{ form.y_min.id_for_label }}">{% trans "Minimum Y co-ordinate:" %}</label>
        {{ form.y_min }}
      </p>
      <p>
        {{ form.y_max.errors }}
        <label for="{{ form.y_max.id_for_label }}">{% trans "Maximum Y co-ordinate:" %}</label>
        {{ form.y_max }}
      </p>
    </div>

    <h3>{% trans "User-submitted information" %}</h3>

    {% with username=queued_image.user.username %}

      <p>{% blocktrans trimmed with email=queued_image.user.email %}
        Uploaded by user {{ username }} with confirmed email
        <tt>{{ email }}</tt>.{% endblocktrans %}
        {% if person.email %}
          {% blocktrans trimmed with email=person.email %}
          (The candidate's unconfirmed email address is
          <tt>{{ email }}</tt>.){% endblocktrans %}
        {% endif %}
        </p>

      {% if why_allowed == 'public-domain' %}
        <p>
          {% blocktrans %}{{ username }} asserted that photo is free of copyright restrictions{% endblocktrans %}
        </p>
      {% elif why_allowed == 'copyright-assigned' %}
        <p>
          {% blocktrans with copyright_holder=settings.COPYRIGHT_HOLDER trimmed %}
            {{ username }} assigned the copyright to {{ copyright_holder }}
          {% endblocktrans %}
        </p>
      {% elif why_allowed == 'profile-photo' %}
        <p>{% blocktrans trimmed %}
          {{ username }} said that this is the candidate's public profile
          photo from social media or their official campaign page
        {% endblocktrans %}</p>
      {% endif %}

      {% if justification_for_use %}
        <p>{% blocktrans trimmed with justification=justification_for_use|safe %}
          {{ username }}'s justification for use of this photo was:
          &#8220;{{ justification }}&#8221;
        {% endblocktrans %}</p>
      {% endif %}

    {% endwith %}

    <h3>{% trans "Your decision" %}</h3>

    <div id="moderator-photo-decision">

      <fieldset id="id_decision">
          {{ form.decision.errors }}
          {% for radio in form.decision %}
          <div class="multiple-choice">
            {{ radio.tag }}
            <label for="id_{{ form.decision.html_name }}_{{ forloop.counter0 }}">{{ radio.choice_label }}</label>
          </div>
          {% endfor %}
      </fieldset>

      <fieldset class="moderator-reason">
        <h4>{% trans "Why <em>you</em> think it's allowed" %}</h4>
          {{ form.moderator_why_allowed.errors }}
          {# <label for="{{ moderator_why_allowed.id_for_label }}"> #}
          {# </label> #}
          {% for radio in form.moderator_why_allowed %}
          <div class="multiple-choice">
            {{ radio.tag }}
            <label for="id_{{ form.moderator_why_allowed.html_name }}_{{ forloop.counter0 }}">{{ radio.choice_label }}</label>
          </div>
          {% endfor %}

          <div class="make-primary multiple-choice">
            {{ form.make_primary }}
            <label for="{{ form.make_primary.id_for_label }}">{% trans "Make this the primary image of the candidate?" %}</label>
          </div>

      </fieldset>

      {% if queued_image.user %}
        <fieldset class="rejection_reason">
            {{ form.rejection_reason.errors }}
            <label for="{{ form.rejection_reason.id_for_label }}">{% blocktrans trimmed %}
              Reason for rejection (<strong>Warning:</strong> this will be
              emailed to the user):{% endblocktrans %}
            </label>
            {{ form.rejection_reason }}
        </fieldset>
      {% else %}
        <input type="hidden" id="id_rejection_reason" name="rejection_reason" value="">
      {% endif %}

      <input type="submit" id="decision-submit" class="button" value="{% trans "Submit" %}">

      <a href="{% url 'photo-review-list' %}" class="button">{% trans "Cancel" %}</a>
    </div>
  </form>
</div>

<div class="photo-review__secondary">

  <h4>{% trans "Existing candidate images" %}</h4>

  {% with images=person.extra.images.all %}

    {% if images %}
      {% for image in images %}
        {% thumbnail image.image "x200" as im %}
          <img class="photo-review__existing-image" src="{{ im.url }}"
            alt="{{ image.extra.notes }}" title="{{ image.extra.notes }}">
          <p class="photo-credit">{% include 'candidates/_photo-credit.html' %}</p>
        {% endthumbnail %}
      {% endfor %}
    {% else %}
      <p>{% trans "There were no existing images for this candidate." %}</p>
    {% endif %}

  {% endwith %}

</div>

{% endblock %}
