{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}{% endblock %}

{% block title %}{% trans "Upload a candidate photo" %}{% endblock %}

{% load pipeline %}

{% block hero %}
  <h1>{% blocktrans with name=person.name %}Upload a photo of {{ name }}{% endblocktrans %}</h1>
{% endblock %}

{% block content %}

{% include 'moderation_queue/_photo-policy.html' %}
{% include 'moderation_queue/_photo-upload-image-form.html' with person_id=person.id %}
{% include 'moderation_queue/_photo-upload-url-form.html' with person_id=person.id %}

{% endblock %}
