{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}{% endblock %}

{% block title %}{% trans "Photo successfully queued for moderation" %}{% endblock %}

{% block hero %}
  <h1>{% trans "Photo successfully queued for moderation" %}</h1>
{% endblock %}

{% block content %}

{% url 'person-view' person_id=person.id ignored_slug=person.name|slugify as url %}
<p>{% blocktrans trimmed with name=person.name %}
  Thank-you for uploading a photo - you will receive an email
  when it is approved to be added to the site, or an explanation
  for why it cannot be used.
  <a href="{{ url }}">Return to {{ name }}’s page.</a>
{% endblocktrans %}
</p>

{% endblock %}
