{% extends "base.html" %}
{% load humanize %}

{% block title %}Add candidates from nomination paper{% endblock %}

{% block content %}
<h2>Add candidates to {{ election_obj.name }}: <a href="{% url 'constituency' election=election_obj.slug post_id=post_extra.slug ignored_slug=post_extra.base.area.name|slugify %}">{{ post_extra.base.area.name }}</a></h2>
{% if official_document %}
<h3>How to add or check candidates:</h3>
<ol>
  <li>Open the <a href="{{ official_document.get_absolute_url }}" target="_blank" class="button tiny">nomination paper</a>
    in a new window</li>
  <li>Find the part of the document about {{ post_extra.base.area.name }}</li>
  <li>Either
    <ol type="a">
      <li>Add new candidates in the form below,</li>
      <li>Or check that any list below is correct. </li>
    </ol>
  </li>
  <li>Press review.
    <ol type="a">
      <li>If you have added candidates, this will check for duplicates. Press ‘Add new person’ if you’re happy that we don’t already have that person.</li>
    </ol>
  </li>
  <li>If you think this is the complete list, check the box.</li>
  <li>Bask in the glow of making democracy better for everyone.</li>
  <li>Return to the home page to do another one!</li>
</ol>
{% endif %}
{% if known_people %}
<h3>There {{ known_people|pluralize:"is,are" }} {{ known_people|length|apnumber }} candidate{{ known_people|pluralize }} listed in this area already:</h3>
<p>If {{ known_people|pluralize:"this person is,any of these people are" }} not listed on the nomination paper, please press edit and mark them as not standing in this specific election.</p>
<ul>
  {% for person in known_people %}
    <li>
        <a href="{% url 'person-view' person.pk %}" target="_blank">
            {{ person }} ({{ person.party.name }})
        </a>
        <a href="{% url 'person-update' person.pk%}" class="button secondary tiny">
            edit
        </a>
    </li>
  {% endfor %}
</ul>
{% endif %}
<form method=POST id="bulk_add_form">
  {% if known_people %}
    <button type=submit>Review</button>
  {% endif %}
  {% csrf_token %}
  {{ formset.management_form }}
  {% for form in formset %}
    <div class="form_group">
    <h3>Person {{ forloop.counter }}</h3>
    {{ form.as_p }}
    </div>
  {% endfor %}
  <button type=submit>Review</button>
</form>

{% endblock content %}
