{% extends "base.html" %}

{% block title %}Add candidates from nomination paper{% endblock %}

{% block content %}

<form method=POST>
  {% csrf_token %}
  {{ formset.management_form }}
  <table>
  {% for form in formset %}
    {% if form.name.value %}
      <h2>Candidate: {{ form.name.value }}</h2>
      <h4><em>“{{ form.party_description.value }}”</em></h4>
      {% if form.select_person.1 %}
      <p>Some similar names have been found in our database. </p>
          <p>If you're sure this is a new candidate, please select 'Add {{ form.name.value }} as a new person'.
          Otherwise, please check the similar names, and if it is the same person, select their name instead. The system will update them with the new candidacy.</p>
      {% endif %}
      {% for choice in form.select_person %}
          <label for="{{ choice.id_for_label }}" style="font-size:1em;clear:both;margin-bottom:0.5em">
            <div style="display:block;float:left;width:3em">
                {{ choice.tag }}
            </div>
            {% if choice.choice_value != '_new' %}
            <div>
                Mark <a href="{% url 'person-view' choice.choice_value %}" target="_blank">
                {{ choice.choice_label }}</a> as standing in {{ election_obj.name }}: {{ post_extra.base.label }}
            </div>
            {% else %}
            <div>
                Add <strong>{{ form.name.value }}</strong> as a new person
            </div>
            {% endif %}
           </label>
           {{ form.name }}
           {{ form.source }}
           {{ form.party }}
      {% endfor %}
    {% endif %}

  {% endfor %}
  </table>
  <p>
    <input type="checkbox" name="suggest_locking" id="suggest_locking">
    <label for="suggest_locking">Suggest locking this area – check this box if you
      are confident that this area is complete as per an official document</label>
  </p>
  <button type=submit>Next</button>
</form>

{% endblock content %}

