{% extends "base.html" %}

{% block title %}Bulk add candidates{% endblock %}

{% block content %}

<form method=POST>
  {% csrf_token %}
  {{ formset.management_form }}
  <table>
  {% for form in formset %}
    {% if form.name.value %}
      <h2>Candidate: {{ form.name.value }}</h2>
      {% if form.select_person.1 %}
      <p>Some similar names have been found in our database. </p>
          <p>If you're sure this is a new candidate, please select 'Add new person'.
          Otherwise, please check the similar names, and if it is the same person, select their name instead. The system will update them with the new candidacy.</p>
      {% endif %}
      {% for choice in form.select_person %}
          <label for="id_{{ choice.name }}">
            {{ choice.tag }}
            {% if choice.choice_value != '_new' %}
            Mark <a href="{% url 'person-view' choice.choice_value %}" target="_blank">
              {{ choice.choice_label }}</a> as standing in "{{ election }}: {{ post_id }}"
            {% else %}
            {{ choice.choice_label }}
            {% endif %}
           </label>
           {{ form.name }}
           {{ form.source }}
           {{ form.party }}
      {% endfor %}
    {% endif %}

  {% endfor %}
  </table>
  <p>
    <label for="suggest_locking">Suggest locking this area – check this box if you
      are confident that this area is complete as per an official document</label>
    <input type="checkbox" name="suggest_locking" id="suggest_locking">
  </p>
  <button type=submit>Next</button>
</form>

{% endblock content %}

