{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}posts{% endblock %}

{% block title %}{% trans "Candidates by post for the St Paul municipal elections 2015" %}{% endblock %}

{% block hero %}
  <h1>{% trans "All Posts in Current Elections" %}</h1>
{% endblock %}

{% block content %}

  <p>{% trans "Follow one of the links below to see the known candidates for that post:" %}</p>

  {% for election_data in all_posts %}

    {% with election=election_data.election posts=election_data.posts %}
        <h2>{{ election.name }}</h2>

        <ul>
          {% for p in posts %}
            <li>
             <a href="{% url 'constituency' election=election.slug post_id=p.slug ignored_slug=p.short_label|slugify %}">{{ p.base.label }}</a>
            </li>
          {% endfor %}
        </ul>
    {% endwith %}

  {% endfor %}

{% endblock %}
