{% extends 'generic_base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block analytics %}
  {% if settings.GOOGLE_ANALYTICS_ACCOUNT %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ settings.GOOGLE_ANALYTICS_ACCOUNT }}', 'auto', {'allowLinker': true});
      ga('require', 'linker');
      ga('linker:autoLink', ['yournextmp.com'] );
      ga('send', 'pageview');

    </script>
  {% endif %}
{% endblock %}

{% block menu_bar_links %}
  <li class="nav-links__item"><a href="{% url 'help-about' %}">{% trans "About" %}</a></li>
  <li class="nav-links__item"><a href="{% url 'posts' %}">{% trans "Elections" %}</a></li>
  <li class="nav-links__item"><a href="{% url 'reports_home' %}">{% trans "Numbers" %}</a></li>
{% endblock %}


{% block footer_bylines %}
  <p>{% blocktrans trimmed %}
    Supported by <a href="https://fullfact.org">Full Fact</a>,
    <a href="http://unlockdemocracy.org.uk">Unlock Democracy</a>, and
    <a href="https://mysociety.org">mySociety</a>.
    {% endblocktrans %}
  </p>
  {% static "img/logo-with-text.png" as logo_url %}
  <p>{% blocktrans with site_managers='Democracy Club' site_managers_url='https://democracyclub.org.uk/' trimmed %}
    Built by <a href="{{ site_managers_url }}">
    <img src="{{ logo_url }}" %} alt="{{ site_managers }}" class="dc-logo"></a>
    {% endblocktrans %}
  </p>
{% endblock %}
