{% extends "base.html" %}

{% block content %}
    <h2>Number of known {{ election_data.name }} candidates per post</h2>
    <table class="counts_table">
        <thead>
            <th>Post Name</th>
            <th>Number of Candidates</th>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr {% if object.count == 0 %}class="no_known"{% endif%}>
                <td><a href="{% url 'constituency' election=election mapit_area_id=object.object_id ignored_slug=object.name|slugify %}">{{ object.name}}</a></td>
                <td>{{ object.count}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}
