{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% blocktrans trimmed with election_name=election_data.name %}
    Number of known {{ election_name }} candidates per party
    {% endblocktrans %}</h2>
    <table class="counts_table">
        <thead>
            <th>{% trans "Party Name" %}</th>
            <th>{% trans "Number of Candidates" %}</th>
        </thead>
        <tbody>
        {% for pc in party_counts %}
            <tr {% if pc.count == 0 %}class="no_known"{% endif%}>
              {% if pc.count == 0 %}
                <td>{{ pc.party_name }}</td>
              {% else %}
                <td><a href="{% url 'party' election=election organization_id=pc.party_slug ignored_slug=pc.party_name|slugify %}">{{ pc.party_name }}</a></td>
              {% endif %}
              <td>{{ pc.count}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}
