{% extends "base.html" %}
{% load humanize %}

{% block hero %}
<div class="person__hero">
  <h1>Reports</h1>
</div>
{% endblock hero %}

{% block content %}

<ul class="total_percent">
    <li>Percent done compared to 2010: {{percent_of_2010|floatformat}}%</li>
    <li>2010 candidates known: 4,152</li>
    <li>2015 candidates known: {{candidates_2015|intcomma}}</li>
    <li>New candidates: {{new_candidates|intcomma}}</li>
    <li>Candidates standing again: {{standing_again|intcomma}}</li>
    <li><a href="{% url "constituencies_counts" %}">Candidates per constituency</a></li>
    <li><a href="{% url "party_counts" %}">Candidates per party</a></li>
</ul>

{% endblock content %}