{% extends "base.html" %}
{% load humanize i18n %}

{% block hero %}
<div class="person__hero">
  <h1>{% trans "Reports" %}</h1>
</div>
{% endblock hero %}

{% block content %}

  <h2>{% trans 'Which posts have fewest candidates so far?' %}</h2>

  <p>{% url 'attention_needed' as url %}
     {% blocktrans trimmed %}
        You can see a list of all the posts in current elections
        <a href="{{ url }}">ordered starting with those with the fewest
        candidates</a>.
     {% endblocktrans %}
  </p>

  {% for era in all_elections %}
    <div class="statistics-elections {% if era.current %}current{% else %}past{% endif %}">
      <h2>{% if era.current %}
        {% trans "Current Elections" %}
      {% else %}
        {% trans "Past Elections" %}
      {% endif %}</h2>

      {% for date, elections in era.dates.items %}
        <h3>{{ date }}</h3>
        {% for role_data in elections %}
          <h4>{{ role_data.role }}</h4>
          {% for election in role_data.elections %}
            <div id="statistics-election-{{ election.html_id }}">
              {% with election_name=election.name %}
                <h4>{% blocktrans %}Statistics for the {{ election_name }}{% endblocktrans %}</h4>
                <ul>
                  <li>{% blocktrans %}Total candidates:{% endblocktrans %} {{ election.total }}</li>
                  <li><a href="{% url "posts_counts" election=election.id %}">{% trans "Candidates per post" %}</a></li>
                  <li><a href="{% url "parties_counts" election=election.id %}">{% trans "Candidates per party" %}</a></li>
                  <li><a href="{% url "constituencies-unlocked" election=election.id %}">{% trans "See progress towards locking all posts" %}</a></li>
                </ul>
              {% endwith %}
            </div>
          {% endfor %}

        {% endfor %}
      {% endfor %}

    </div>
  {% endfor %}

{% endblock content %}
