@import "../foundation/scss/foundation/functions";

$color-orange-900: #8b5600;
$color-orange-700: #ce7c00;
$color-orange: #ff9800;
$color-orange-300: #ffbf66;
$color-orange-100: #ffddb3;
$color-orange-50: mix(#fff, $color-orange-100, 50%);

$color-gold-900: #8b6d04;
$color-gold-700: #ce9e05;
$color-gold: #ffc107;
$color-gold-300: #ffd96a;
$color-gold-100: #ffeab5;
$color-gold-50: mix(#fff, $color-gold-100, 50%);

$color-teal-900: #00787b;
$color-teal-700: #00adaf;
$color-teal: #00d4d4;
$color-teal-300: #5de4e5;
$color-teal-100: #a3f1f2;
$color-teal-50: mix(#fff, $color-teal-100, 50%);

$color-red-900: #85261f;
$color-red-700: #c5362c;
$color-red: #f44336;
$color-red-300: #f88b86;
$color-red-100: #fbc1c3;

$color-offwhite: #f3f3f3;
$color-cream: #e4dfdb;
$color-yellow: #fdf2d5;
$color-blue: #008FCA;

$header-background-color: mix($color-teal, $color-teal-700, 50%);
$body-background-color: $color-orange-50;
$footer-text-color: $color-orange-700;
$content-background-color: #fff;

$muted-text-color: #999;

$message-background-color: $color-gold-100;
$message-border-color: $color-gold-300;

$highlight-background-color: $color-yellow;
$information-background-color: $color-teal-100;
$danger-background-color: $color-orange-100;

$confirmation-background-color: $color-yellow;
$error-background-color: $color-red-100;
$error-text-color: $color-red-900;
$error-border-color: $color-red-300;
$error-input-border-color: $color-red-700;

$candidate-order-color: #fff;
$candidate-order-background-color: $color-teal;
$avatar-background-color: #ddd;

$unknown-candidate-status-color: $color-gold-700;
$not-standing-candidate-status-color: $color-red-700;

$homepage-description-background-color: $body-background-color;
$homepage-description-text-color: $color-orange-700;
$homepage-activity-color: $color-teal-700;
$homepage-leaderboard-color: $color-gold-700;

// Override Foundation variables here
$primary-color: $color-orange;
$secondary-color: $color-cream;
$anchor-font-color: $color-blue;
$anchor-text-decoration: none;
$button-tny: rem-calc(6);
$button-sml: rem-calc(8);
$button-med: rem-calc(10);
$button-lrg: rem-calc(14);
$button-radius: 3px;
$code-font-family: Consolas, Monaco, 'Liberation Mono', Courier, monospace;

@import "../foundation/scss/normalize";
@import "../foundation/scss/foundation";

@import "../candidates/mixins";

@import "../candidates/header";
@import "../candidates/content";
@import "../candidates/footer";
@import "../candidates/forms";

@import "../candidates/finder";
@import "../candidates/people";
@import "../candidates/versions";
@import "../candidates/parties";
@import "../candidates/person_edit";
@import "../candidates/copyright-assignment";
@import "../candidates/leaderboards";

.header {
    a {
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}

.button {
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.finder__forms {
  background-color: $color-orange;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  label {
    color: #fff;
    text-shadow: 0 1px 1px $color-orange-700;
  }

  .button {
    @include button-style($bg: #fff, $bg-hover: mix(#fff, $color-orange-100, 50%));
  }

  input,
  .button {
    box-shadow: 0 1px 1px $color-orange-700;
  }
}

.finder__forms {
  background-color: $color-orange;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  label {
    color: #fff;
    text-shadow: 0 1px 1px $color-orange-700;
  }

  .button {
    @include button-style($bg: #fff, $bg-hover: mix(#fff, $color-orange-100, 50%));
  }

  input,
  .button {
    box-shadow: 0 1px 1px $color-orange-700;
  }
}

// In the footer
.accesa-logo {
  width: 128px;
  height: 32px;
  vertical-align: -10px;
  margin-left: 0.4em;
}
