{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block hero %}
  <h1>{% trans "Sign in" %}</h1>
{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers  %}
  <div class="socialaccount_ballot">
    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>
    <p class="login-or"><span>{% trans 'Or' %}</span></p>
  </div>
  {% include "socialaccount/snippets/login_extra.html" %}
{% endif %}

<div class="login-signup-tabs">
    <span>I have an account</span>
    <a href="{{ signup_url }}">I don’t have an account</a>
</div>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <p>
    <button class="button" type="submit">{% trans "Sign in" %}</button>
    <a class="button secondary" href="{% url 'account_reset_password' %}">{% trans "Forgot password?" %}</a>
  </p>
</form>

{% endblock %}
