{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Create an account" %}{% endblock %}

{% block hero %}
  <h1>{% trans "Create an account" %}</h1>
{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers  %}
  <div class="socialaccount_ballot">
    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>
    <p class="login-or"><span>{% trans 'Or' %}</span></p>
  </div>
  {% include "socialaccount/snippets/login_extra.html" %}
{% endif %}

<div class="login-signup-tabs">
    <a href="{{ login_url }}">I have an account</a>
    <span>I don’t have an account</span>
</div>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}

  <p>Usernames are made public, so please don't use personal information like an email address as your username.</p>

  {{ form.as_p }}

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="button" type="submit">{% trans "Create account" %}</button>
</form>

{% endblock %}
