{% extends 'candidates/frontpage.html' %}

{% load i18n %}

{% block extra_js %}
  <script>
    $(function() {
      /* Turn the canton <select> into a nice Select2 box */
      $('#id_cons_area_id').select2({
        placeholder: 'Constituency',
        allowClear: true,
        width: '100%'
      });
    });
  </script>
{% endblock %}

{% block menu_bar_links %}
<li class="nav-links__item"><a href="{% url 'help-about' %}">{% trans "About" %}</a></li>
<li class="nav-links__item"><a href="{% url 'posts' %}">{% trans "Constituencies" %}</a></li>
<li class="nav-links__item"><a href="{% url 'reports_home' %}">{% trans "Numbers" %}</a></li>
{% endblock %}

{% block hero %}

  <h1>{% trans "Who's on your ballot paper" %}</h1>

  <p class="lead">{% trans "Get to know the Jamaican General Election 2016 candidates in your constituency" %}</p>

{% endblock %}

{% block description %}
  {% url 'help-api' as api_url %}
  {% url "tasks_home" as tasks_url %}
  <p>
  {% blocktrans trimmed %}
  YourNextMP.com.jm brings together on all candidates seeking office in one place,
  giving you a full picture of your candidates and your constituency.
  {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}The database is transparently sourced and
    available as structured data, suitable for building other election
    websites. <a href="{{ api_url }}">Get the data now</a>, or
    <a href="{{ tasks_url }}">help by contributing new candidate details.</a>
    {% endblocktrans %}
  </p>
{% endblock %}

{% block finder_forms %}
  <form id="cons-selector" action="{% url 'cons-frontpage' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="button" value="{% trans "Show candidates" %}">
  </form>
{% endblock %}

{% block recent_changes %}{% endblock %}
{% block leaderboard %}{% endblock %}
