{% extends "base.html" %}
{% load humanize %}
{% load i18n %}

{% block content %}

<h2>
{% blocktrans trimmed with pretty_count=results_count|intcomma count results=results_count %}
{{ pretty_count }} candidate missing {{ field }} field</h2>
{% plural %}
{{ pretty_count }} candidates missing {{ field }} field</h2>
{% endblocktrans %}

<h3>{% blocktrans trimmed with num_candidates=candidates_count|intcomma percent_empty=percent_empty|floatformat %}
Of {{ num_candidates }} candidates in total ({{ percent_empty }}% blank)
{% endblocktrans %}</h3>

{% block advise %}
<p>
  {% url "tasks_home" as url %}
  {% blocktrans trimmed %}
  Please <a href="{{ url }}">help out</a> by adding missing
  information.  Make sure you read our
  <a href="https://docs.google.com/document/d/1lqC15-FUZl_mNzpEEoHG0mX8wyQ5GHZNUj61LE2KmoA/edit">guidance
  on sourcing fields.</a>
  {% endblocktrans %}
</p>
{% endblock advise %}

{% for membership in results %}
<li>
    <a href="{% url "person-view" membership.person.id membership.person.name|slugify %}">
        {{ membership.person.name }}
    </a>
    (<a href="{% url "person-update" membership.person.id %}">{% trans "edit" %}</a>)
    ({{ membership.party.name }}, {{ membership.post.name }})
    {% if membership.twitter %}
        &mdash; <a href="https://twitter.com/intent/tweet?text={% blocktrans trimmed with username=membership.twitter id=membership.person.id site_name=site.name %}
        Hi @{{ username }} could you add your {{ field }} to your {{ site_name }} page please? https://candidates.democracyclub.org.uk/person/{{ id }}/
        {% endblocktrans %}">
            {% trans "Tweet them" %}</a>{% endif %}
    &mdash; <a href="https://duckduckgo.com/?q=%22{{ membership.person.name }}%22+%22{{ membership.post.name }}%22+{{ field }}">{% trans "Search" %}</a>
</li>
{% endfor %}

<nav role="menu" aria-label="Pagination">
   <ul class="pagination">
<li>{% if previous %}<a href="?page={{ previous }}">{% trans "Previous page" %}</a>{% endif %}</li>
<li>{% if next %}<a href="?page={{ next }}">{% trans "Next page" %}</a>{% endif %}</li>
   </ul>
</nav>

{% endblock content %}
