@import "../foundation/scss/foundation/functions";

$color-darkgreen: #16312d;
$color-green: #155847;
$color-lightgreen: #1e9577;
$color-palegreen: #bcdad5;
$color-pink: #dd3975;
$color-offwhite: #ddd;
$color-cream: #e4dfdb;
$color-red: #c55e59;
$color-yellow: #fdf2d5;

$header-background-color: $color-green;
$body-background-color: $color-darkgreen;
$footer-text-color: mix($color-darkgreen, #fff, 50%);
$content-background-color: $color-offwhite;

$muted-text-color: darken($color-cream, 20%);

$message-background-color: mix($color-pink, #fff, 90%);
$message-border-color: lighten($color-pink, 30%);

$highlight-background-color: $color-yellow;
$information-background-color: $color-lightgreen;
$danger-background-color: mix($color-red, #fff, 15%);

$confirmation-background-color: $color-cream;
$error-background-color: mix($color-red, #fff, 15%);
$error-text-color: darken($color-red, 10%);
$error-border-color: mix($color-red, #fff, 30%);
$error-input-border-color: mix($color-red, #fff, 40%);

$avatar-background-color: #ddd;

$unknown-candidate-status-color: $color-pink;
$not-standing-candidate-status-color: $color-red;

$homepage-description-background-color: $body-background-color;
$homepage-description-text-color: #887; // dark desaturated browny-grey
$homepage-activity-color: #333;
$homepage-leaderboard-color: #333;

// Override Foundation variables here
$primary-color: $color-green;
$secondary-color: $color-cream;
$button-tny: rem-calc(6);
$button-sml: rem-calc(8);
$button-med: rem-calc(10);
$button-lrg: rem-calc(14);
$button-radius: 3px;
$header-font-family: "Politica", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$code-font-family: Consolas, Monaco, 'Liberation Mono', Courier, monospace;

@font-face {
  font-family: Politica;
  src: url(fonts/POLITICA.TTF);
}

@font-face {
  font-family: Politica;
  src: url(fonts/POLITICA_BOLD.TTF);
  font-weight: bold;
}

@import "../foundation/scss/normalize";
@import "../foundation/scss/foundation";

@import "../candidates/header";
@import "../candidates/content";
@import "../candidates/footer";
@import "../candidates/forms";

@import "../candidates/finder";
@import "../candidates/people";
@import "../candidates/versions";
@import "../candidates/parties";
@import "../candidates/person_edit";
@import "../candidates/copyright-assignment";
@import "../candidates/leaderboards";

.header {
  font-family: $header-font-family;
  font-size: 1.3125em; // 21px up from default 16px
  text-align: center;
  color: $color-palegreen;
}

.header__logo {
  display: block;
  margin: 1em auto 0 auto;
  width: 287px;
  height: 62px;
  background: transparent url(img/YQSlogo.jpg) center center no-repeat;
  background-size: 287px;
  height: 62px;
  text-indent: -9999px;
}

a.header__logo {
  &:hover, &:focus {
    margin-bottom: 0;
    border-bottom: none;
  }
}

.header__nav__item {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.header__hero {
  display: none;
}

.footer a {
  color: $color-lightgreen;
}