{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}{% endblock %}

{% block title %}{% trans "About this site" %}{% endblock %}

{% block hero %}
  <h1>{% trans "About this site" %}</h1>
{% endblock %}

{% block content %}

<div class="help-about">

<p><strong>¡Bienvenido a Yo Quiero Saber, Investigación Colectiva!</strong></p>

<p>Conformamos una alianza apartidaria que lleva adelante el proyecto Yo Quiero
Saber, que es una plataforma de Investigación Colectiva sobre los candidatos
para las elecciones 2015.</p>

<p><strong>Puede escribirnos a <a href="mailto:info@yoquierosaber.org">info@yoquierosaber.org</a></strong></p>

<p>Junto a periodistas, politólogos, tecnólogos, organizaciones de la sociedad
civil y voluntarios investigamos y recolectamos información de los candidatos
del país para las elecciones primarias abiertas y simultáneas (PASO) del 9 de
agosto y las presidenciales el 25 de octubre.</p>

<p>Lo llamamos proyecto de investigación colectiva, porque creemos en el valor
del trabajo entre la ciudadanía. Y necesitamos de tu ayuda para hacer crecer Yo
Quiero Saber.</p>
<p>
<a href="/leaderboard">Hi-Scores: TOP de usuarios</a><br/>
<a href="/numbers">Reportes: Estadísticas de la investigación colectiva</a>
</p>

<p>Sumate a nuestro grupo de colaboradores, vos también podés ser parte. Vamos
a poner toda la información en el sitio web de Yo Quiero Saber, que fue
desarrollado con software libre y la información publicada con licencias
copyleft.</p>

<p>Las organizaciones que hicieron posible este proyecto son: Congreso
Interactivo, Open Knowledge Argentina, Fundación Directorio Legislativo, ACIJ,
Asociación Conciencia, We-Me y Acción Social.</p>

<p>Con el apoyo de HackLabs, ICFJ, World Bank Institute, MySociety, Ciudadano
Inteligente y Taringa.</p>

</div>

{% endblock %}
