{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}{% endblock %}

{% block title %}Utilización de la información de Yo Quiero Saber{% endblock %}

{% block hero %}
  <h1>Utilización de la información de Yo Quiero Saber</h1>
{% endblock %}

{% block content %}

<div class="help-about">

<p>El código fuente de este sitio está disponible en GitHub, y podés encontrar
la lista de errores conocidos ahí también. Y este es nuestrofork para
Argentina, en GitHub también.

<p>Podés usar los datos de este sitio, a través de la API o descarga CSV, bajo
los términos de la licencia Creative Commons Atribución-CompartirIgual 4.0
Internacional (CC BY-SA 4.0) con la excepción de:

<ul>
<li>Los logos de los partidos.
<li>Las fotos de los candidatos, que típicamente son enviadas por los propios
candidatos, o de fuentes donde parece razonable que podamos usarlas, como la
página oficial del candidato o su perfil en medios sociales.
</ul>

<p>Si la licencia CC-BY-SA le resulta problemática, por favor contáctenos para
charlar sobre su situación.

<p>La información en este sitio es producto de una investigación colectiva
(crowd-source) y puede no estar completa o contener inexactitudes. Si encuentra
un error, por favor actualice la página usted mismo registrándose, o envíenos
un correo para reportar el problema.

</div>

{% endblock %}
