{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}{% endblock %}

{% block title %}Utilización de la información de Yo Quiero Saber{% endblock %}

{% block hero %}
  <h1>Utilización de la información de Yo Quiero Saber</h1>
{% endblock %}

{% block content %}

<div class="help-about">

<p>El código fuente de este sitio está disponible <a href="https://github.com/mysociety/yournextrepresentative/">en GitHub</a>, y podés encontrar
<a href="https://github.com/mysociety/yournextrepresentative/issues">la lista de errores conocidos</a> ahí también. Y este es nuestro <a href="https://github.com/yoquierosaber/yournextrepresentative/">fork para
Argentina en GitHub</a> también.</p>
<p>Podés usar los datos de este sitio, a través de la <a href="{% url 'help-api' %}">API</a> o <a href="{% url 'help-api' %}">descarga CSV</a>, bajo
los términos de la licencia <a href="http://creativecommons.org/licenses/by-sa/2.5/ar/">Creative Commons Atribución-CompartirIgual 2.5
Argentina (CC BY-SA 2.5 AR)</a> con la excepción de:
</p>
<ul>
<li>Los logos de los partidos.</li>
<li>Las fotos de los candidatos, que típicamente son enviadas por los propios
candidatos, o de fuentes donde parece razonable que podamos usarlas, como la
página oficial del candidato o su perfil en medios sociales.</li>
</ul>

<p>Si la licencia CC-BY-SA le resulta problemática, por favor <a href="mailto:info@yoquierosaber.org">contáctenos</a>  para
charlar sobre su situación.</p>

<p>La información en este sitio es producto de una investigación colectiva
(crowd-source) y puede no estar completa o contener inexactitudes. Si encuentra
un error, por favor actualice la página usted mismo registrándose, o <a href="mailto:info@yoquierosaber.org">envíenos
un correo</a> para reportar el problema.</p>

</div>

{% endblock %}
