{% extends 'candidates/frontpage.html' %}

{% load i18n %}

{% block extra_js %}
  <script>
    $(function() {
      /* Turn the canton <select> into a nice Select2 box */
      $('#id_canton_area_id').select2({
        placeholder: 'Canton',
        allowClear: true,
        width: '100%'
      });
    });
  </script>
{% endblock %}

{% block hero %}

  <h1>{% trans "Find candidates to be your next representative" %}</h1>

  <p class="lead">{% trans "Find or add information about the candidates for the upcoming municipal elections on February 7" %}</p>

{% endblock %}

{% block finder_forms %}
  <form id="canton-selector" action="{% url 'canton-frontpage' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="button" value="{% trans "Show candidates" %}">
  </form>
{% endblock %}
