{% load i18n %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="alternate" type="application/atom+xml" title="RSS" href="/feeds/changes.xml">

    {% block extra_head %}
    {% endblock %}

    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}"/>

    {% load pipeline %}
    {% stylesheet 'all' %}
    {% block extra_css %}
    {% endblock %}

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->

    {% javascript 'all' %}
    {% block extra_js %}
    {% endblock %}

    <title>{% block title %}{% trans "Yo Quiero Saber" %}{% endblock %}</title>

    {% if settings.GOOGLE_ANALYTICS_ACCOUNT %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ settings.GOOGLE_ANALYTICS_ACCOUNT }}', 'auto', {'allowLinker': true});
        ga('require', 'linker');
        ga('linker:autoLink', ['yournextmp.com'] );
        ga('send', 'pageview');

      </script>
    {% endif %}

</head>

<body class="{% block body_class %}{% endblock %}">
  <div class="header">
    <div class="container">
      <a href="/" class="header__logo">Yo Quiero Saber</a>
      <div class="header__nav">
        <div class="header__nav__primary">
          <a href="{% url 'help-about' %}" class="header__nav__item">{% trans "About" %}</a>
          <a href="{% url 'posts' %}" class="header__nav__item">{% trans "Posts" %}</a>
          <a href="#" class="header__nav__item">{% trans "Provinces" %}</a>
          <a href="{% url 'reports_home' %}" class="header__nav__item">{% trans "Numbers" %}</a>
          {% if user_can_review_photos and photos_for_review > 0 %}
            <a href="{% url 'photo-review-list' %}" class="header__nav__item header__nav__notification">{{ photos_for_review }}</a>
          {% endif %}
        </div>
        <div class="header__nav__secondary">
          {% if user.is_authenticated %}
            <span class="header__nav__item header__nav__item--secondary">
              {% blocktrans with username=user.username %}Signed in as <strong>{{ username }}</strong>{% endblocktrans %}
            </span>
            <a href="{% url 'account_logout' %}{% if redirect_after_login %}?next={{ redirect_after_login }}{% endif %}" class="header__nav__item header__nav__item--secondary">{% trans "Sign out" %}</a>
          {% else %}
            <a href="{% url 'account_login' %}{% if redirect_after_login %}?next={{ redirect_after_login }}{% endif %}"
               class="header__nav__item header__nav__item--secondary">{% trans "Sign in to edit" %}</a>
          {% endif %}
        </div>
        <div class="header__nav__social">
            <a href="https://www.facebook.com/YoQuieroSaber">Facebook</a>
            <a href="https://twitter.com/YQS_Argentina">Twitter</a>
        </div>
      </div>
      <div class="header__hero">
        {% block hero %}
        {% endblock %}
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">

      {% if messages %}
        <div class="messages">
          {% for message in messages %}
            {% if 'photo-review' in message.tags or 'do-something-else' in message.tags %}
              <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                {% if 'safe' in message.tags %}
                  {{ message|safe }}
                {% else %}
                  {{ message }}
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}

      {% block content %}
      {% endblock %}
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="footer__links">
        <p><a href="{% url 'help-api' %}">{% trans "Open data API" %}</a>
            &middot; <a href="{% url 'help-about' %}">{% trans "About" %}</a>
            &middot; <a href="{% url 'help-privacy' %}">{% trans "Privacy policy" %}</a></p>
      </div>
      <div class="footer__bylines">
        <p>{% blocktrans trimmed %}
          Supported by <a href="#">Blah blah</a>,
          <a href="#">Blah</a>, and
          <a href="#">Blah blah</a>.
          {% endblocktrans %}</p>
        <p>{% blocktrans trimmed %}
          Built by <a href="#">Congreso Interactivo</a>.
          {% endblocktrans %}
        </p>
      </div>
    </div>
  </div>
</body>
</html>
