{% load i18n %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="alternate" type="application/atom+xml" title="RSS" href="/feeds/changes.xml">

    {% block extra_head %}
    {% endblock %}

    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/apple-touch-icon.png' %}"/>

    {% load pipeline %}
    {% stylesheet 'all' %}
    {% block extra_css %}
    {% endblock %}

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->

    {% load statici18n %}
    {% if not settings.RUNNING_TESTS %}
      <script src="{% statici18n LANGUAGE_CODE %}"></script>
    {% endif %}

    {% javascript 'all' %}
    {% block extra_js %}
    {% endblock %}

    <title>{% block title %}{% trans "Yo Quiero Saber" %}{% endblock %}</title>

</head>

<body class="{% block body_class %}{% endblock %}">
  <div class="header">
    <div class="container">
      <a href="/" class="header__logo">Yo Quiero Saber</a>
      <div class="header__nav">
        <div class="header__nav__primary">
          <a href="/" class="header__nav__item">Inicio</a>
          <a href="{% url 'areas-of-type-view' area_type='PRV' ignored_slug='provincia' %}" class="header__nav__item">{% trans "Provinces" %}</a>
          <a href="{% url 'attention_needed' %}" class="header__nav__item">Prioridades</a>
         <a href="http://www.yoquierosaber.org/" class="header__nav__item">Juego</a>
          <a href="{% url 'help-reuse' %}#" class="header__nav__item">Reutilizá YQS</a>
        <a href="{% url 'help-about' %}" class="header__nav__item">Quienes somos</a>
          {% if user_can_review_photos and photos_for_review > 0 %}
            <a href="{% url 'photo-review-list' %}" class="header__nav__item header__nav__notification">{{ photos_for_review }}</a>
          {% endif %}
        </div>
        <div class="header__nav__secondary">
          {% if user.is_authenticated %}
            <span class="header__nav__item header__nav__item--secondary">
              {% blocktrans with username=user.username %}Signed in as <strong>{{ username }}</strong>{% endblocktrans %}
            </span>
            <a href="{% url 'account_logout' %}{% if redirect_after_login %}?next={{ redirect_after_login }}{% endif %}" class="header__nav__item header__nav__item--secondary">{% trans "Sign out" %}</a>
          {% else %}
            <a href="{% url 'account_login' %}{% if redirect_after_login %}?next={{ redirect_after_login }}{% endif %}"
               class="header__nav__item header__nav__item--secondary">{% trans "Sign in to edit" %}</a>
          {% endif %}
        </div>
        <div class="header__nav__social">
            <a href="https://www.facebook.com/YoQuieroSaber">Facebook</a>
            <a href="https://twitter.com/YoQuieroSaberAR">Twitter</a>
	    <a href="http://taringa.net/YoQuieroSaber15">Taringa</a>
        </div>
      </div>
    </div>
    {% block hero_outer %}
      <div class="header__hero">
        <div class="container">
          {% block hero %}
          {% endblock %}
        </div>
      </div>
    {% endblock %}
  </div>
  <div class="content">
    <div class="container">

      {% if messages %}
        <div class="messages">
          {% for message in messages %}
            {% if 'photo-review' in message.tags or 'do-something-else' in message.tags %}
              <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                {% if 'safe' in message.tags %}
                  {{ message|safe }}
                {% else %}
                  {{ message }}
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}

      {% block content %}
      {% endblock %}
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="footer__links">
        <p><a href="{% url 'help-api' %}">{% trans "Open data API" %}</a>
            &middot; <a href="{% url 'help-about' %}">{% trans "About" %}</a>
            &middot; <a href="{% url 'help-privacy' %}">{% trans "Privacy policy" %}</a></p>
      </div>
      <div class="footer__bylines">
        <h4>{% trans 'Made by' %}</h4>
        <p>
          <a href="http://www.congresointeractivo.org"><img src="/static/candidates/img/logo-congreso-interactivo.png" width="107" height="40" alt="Congreso Interactivo"></a>
          <a href="http://ar.okfn.org"><img src="/static/candidates/img/logo-okf-argentina.png" width="172" height="40" alt="Open Knowledge Argentina"></a>
          <a href="http://twitter.com/dataconcepcion"><img src="/static/candidates/img/logo-datos-concepcion.png" width="35" height="40" alt="Datos Concepción"></a>
          <a href="http://www.directoriolegislativo.org/"><img src="/static/candidates/img/logo-directorio-legislativo.png" width="130" height="40" alt="Directorio Legislativo"></a>
        </p>
        <h4>{% trans 'Partners' %}</h4>
        <p>
          <a href="http://www.taringa.net">Taringa</a> &middot;
          <a href="http://www.acij.org.ar">ACIJ</a> &middot;
          <a href="http://www.conciencia.org">Asociación Conciencia</a> &middot;
          <a href="http://www.we-me.org">We-Me</a> &middot;
          <a href="http://www.utdt.edu/ver_contenido.php?id_contenido=9095&amp;id_item_menu=17559">Acción Social DiTella</a>
        </p>
        <h4>{% trans 'Supported by' %}</h4>
        <div style="background: white; padding: 1em; padding-bottom: 0.5em; border-radius: 1em">
              <a href="http://hackslabs.org/"><img src="{% static 'img/logo-hl.png' %}" alt="hackslabs"></a> 
              <a href="http://www.worldbank.org/"><img src="{% static 'img/logo-wb.png' %}" alt="World Bank"></a> 
              <a href="http://www.icfj.org/" style="zoom: 0.8;"><img src="{% static 'img/logo-icfj.png' %}" alt="ICFJ"></a>       
        </div>
        <h4>{% trans 'Developed by' %}</h4>
        <p>
          <a href="https://mysociety.org">mySociety</a> &middot;
          <a href="http://www.ciudadanointeligente.org">Ciudadano Inteligente</a> &middot;
          <a href="http://www.clinica-web.com.ar">Clínica Web</a>
        </p>
        <p>
          <a href="{% url 'help-about' %}">{% trans 'Show all the collaborators and volunteers' %}</a>
        </p>
      </div>
    </div>
  </div>
</body>
</html>
