{% load standing %}
{% load i18n %}

{% comment %}

  The following variables are expected in the context:

    election
    election_data

    post_data.id
    post_data.label
    post_label_shorter

    candidacies
    candidacies_might_stand_again
    candidacies_not_standing_again

    candidates_locked
    show_confirm_result
    show_retract_result
    candidates_list_edits_allowed

    lock_form
    add_candidate_form

  Permission variables from the context processor:

    user_can_upload_documents
    user_can_lock
    user_can_record_results

    user

  Those required by included partials:

    candidates/_person_in_list.html

      c (a candidacy from candidacies, candidacies_might_stand_again, etc.)

    candidates/_source_confirmation.html

      c
      standing (either 'standing' or 'not-standing')
      post_data.id

    official_documents/_post.html

      official_documents
      post_data.label
      post_data.id

{% endcomment %}

{% if election_data.show_official_documents %}
  {% include 'official_documents/_post.html' %}
{% endif %}

<div id="candidates-for-post-{{ post_data.id }}" class="candidates-for-post">

  {# Use the post label here, since multiple posts may be used on a page #}
  {% url 'constituency' election=election post_id=post_data.id ignored_slug=post_data.label|slugify as post_url %}
  {% url 'constituencies' election=election_data.slug as election_posts_url %}

  {% if user_can_lock %}
    <form method="post" action="{% url 'constituency-lock' election=election %}">
      {% csrf_token %}
      {% for field in lock_form %}{{ field }}{% endfor %}
      <input type="submit" class="button small" value="{% if candidates_locked %}{% trans "Unlock candidate list" %}{% else %}{% trans "Lock candidate list" %}{% endif %}">
      {% if candidates_locked %}
        {% trans "(This list of candidates is currently <strong>locked</strong>.)" %}
      {% else %}
        {% trans "(This list of candidates is currently <strong>unlocked</strong>.)" %}
      {% endif %}
    </form>
  {% else %}
    {% if candidates_locked %}
      <p>{% blocktrans trimmed %}This list of candidates is now <strong>locked</strong>;
      you can still update contact details of candidates, but
      can't change the people standing in this constituency.{% endblocktrans %}</p>
    {% endif %}
  {% endif %}

  {% if user_can_record_results and show_retract_result %}
    <form action="{% url 'retract-winner' election=election post_id=post_id %}" method="post">
      {% csrf_token %}
      <input type="submit" class="button alert" value="{% trans "Unset the current winners, if incorrect" %}">
    </form>
  {% endif %}

  {% if has_elected %}
  <div class="candidates__elected">
      <h3>{% blocktrans trimmed with post_label=post_data.label election_name=election_data.name  %}
        Elected candidates for <a href="{{ post_url }}">{{ post_label }}</a>
        in the <a href="{{ election_posts_url }}"> {{ election_name }}</a>{% endblocktrans %}
      </h3>

    {% with party_lists_in_use=elected.party_lists_in_use parties_and_people=elected.parties_and_people %}

      {% for party, people in parties_and_people %}
        {% include 'candidates/_party_list.html' %}
      {% endfor %}
    {% endwith %}
  </div>
  {% endif %}

  <div class="candidates__known">

    <h3>
        {% if has_elected %}
        {% blocktrans trimmed with post_label=post_data.label election_name=election_data.name  %}
      Unelected candidates for <a href="{{ post_url }}">{{ post_label }}</a>
      in the <a href="{{ election_posts_url }}"> {{ election_name }}</a>{% endblocktrans %}
      {% else %}
        {% blocktrans trimmed with post_label=post_data.label election_name=election_data.name  %}
      Known candidates for <a href="{{ post_url }}">{{ post_label }}</a>
      in the <a href="{{ election_posts_url }}"> {{ election_name }}</a>{% endblocktrans %}
      {% endif %}
    </h3>

    {% with party_lists_in_use=unelected.party_lists_in_use parties_and_people=unelected.parties_and_people %}

      {% if parties_and_people and candidate_list_edits_allowed %}
        <p><a class="show-new-candidate-form button">{% trans "Add a new candidate" %}</a></p>
      {% endif %}

      {% for party, people in parties_and_people %}
        {% include 'candidates/_party_list.html' %}
      {% empty %}
        <div class="no-candidates row">
          <p class="medium-8 columns">{% blocktrans trimmed with post_label=post_data.label election_name=election_data.name %}
              <strong>Oh no!</strong> We don’t know of any candidates in {{ post_label }}
          for the {{ election_name }} yet.{% endblocktrans %}</p>
          {% if candidate_list_edits_allowed %}
            <p class="medium-4 columns"><a class="show-new-candidate-form button">{% trans "Add a new candidate" %}</a></p>
          {% else %}
            <p class="medium-4 columns"><a href="{% url 'account_login' %}{% if redirect_after_login %}?next={{ redirect_after_login }}{% endif %}" class="show-new-candidate-form button">{% trans "Sign in to add a new candidate" %}</a></p>
          {% endif %}
        </div>
      {% endfor %} {# end of 'for party, people in parties_and_people' #}

      {% if parties_and_people and candidate_list_edits_allowed %}
        <p><a class="show-new-candidate-form button">{% trans "Add a new candidate" %}</a></p>
      {% endif %}

    {% endwith %}


  </div>

  {% if candidate_list_edits_allowed %}
    <div class="candidates__new" {% if add_candidate_form.errors %}style="display: block"{% endif %}>

      <h4>{% trans "Add a new candidate" %}</h4>

      <form id="new-candidate-form" name="new-candidate-form" action="{% url 'person-create' election=election %}" method="post">
      {% with form=add_candidate_form %}
        {% include 'candidates/_person_form.html' %}
      {% endwith %}
      </form>

    </div>
  {% endif %}

  {% if not candidates_locked %}

    {% if candidacies_might_stand_again.parties_and_people %}
      <div class="candidates__previous">

        {% if user.is_authenticated %}
        <h3>{% trans "Is a candidate from an earlier election standing again?" %}</h3>
        {% else %}
        <h3>{% trans "We don't know if these candidates from earlier elections are standing again" %}</h3>
        {% endif %}

        {% with party_lists_in_use=candidacies_might_stand_again.party_lists_in_use parties_and_people=candidacies_might_stand_again.parties_and_people %}

          {% for party, people in parties_and_people %}

            <div class="party-group {% if party_lists_in_use %}party-list{% else %}no-party-list{% endif %}">

              {% if party_lists_in_use %}
                <h4>{{ party.name }}</h4>
              {% endif %}

              <ul class="candidate-list">
                {% for position_in_list, c, candidate_elected in people %}

                  <li class="candidates-list__person">
                    {% include 'candidates/_person_in_list.html' %}
                    {% if user.is_authenticated %}
                    <p>
                      {% if candidate_list_edits_allowed %}
                        <a class="button tiny js-toggle-source-confirmation standing">{% trans "Standing again" %}</a>
                        <a class="button tiny js-toggle-source-confirmation not-standing">{% trans "Not standing again" %}</a>
                      {% endif %}
                      <a href="{% url 'person-update' person_id=c.id %}" class="button tiny secondary">{% trans "Edit" %}</a>
                    </p>
                    {% if candidate_list_edits_allowed %}
                      {% include 'candidates/_source_confirmation.html' with standing='standing' action='candidacy-create' %}
                      {% include 'candidates/_source_confirmation.html' with standing='not-standing' action='candidacy-delete' %}
                    {% endif %}
                    {% endif %}
                  </li>
                {% endfor %} {# end of 'for position_in_list, c, candidate_elected in people' #}
              </ul>

            </div>

          {% endfor %} {# end of 'party, people in parties_and_people' #}

        {% endwith %}

      </div>
    {% endif %}

    {% if candidacies_not_standing_again.parties_and_people %}
      <div class="candidates__not-standing">

        <h3>{% trans "These candidates from earlier elections are known not to be standing again" %}</h3>

        {% with party_lists_in_use=candidacies_not_standing_again.party_lists_in_use parties_and_people=candidacies_not_standing_again.parties_and_people %}

          {% for party, people in parties_and_people %}

            <div class="party-group {% if party_lists_in_use %}party-list{% else %}no-party-list{% endif %}">

              {% if party_lists_in_use %}
                <h4>{{ party.name }}</h4>
              {% endif %}

              <ul class="candidate-list">
                {% for position_in_list, c, candidate_elected in people %}

                  <li class="candidates-list__person">
                    {% include 'candidates/_person_in_list.html' %}
                    {% if user.is_authenticated %}
                    <p>
                      {% if candidate_list_edits_allowed %}
                        <a class="button tiny js-toggle-source-confirmation standing">{% trans "Actually, they are standing!" %}</a>
                      {% endif %}
                      <a href="{% url 'person-update' person_id=c.id %}" class="button tiny secondary">{% trans "Edit" %}</a>
                    </p>
                    {% if candidate_list_edits_allowed %}
                      {% include 'candidates/_source_confirmation.html' with standing='standing' action='candidacy-create' %}
                    {% endif %}
                    {% endif %}
                  </li>
                {% endfor %} {# end of 'for position_in_list, c, candidate_elected in people' #}
              </ul>

            </div>

          {% endfor %} {# end of 'for party, people in parties_and_people' #}

        {% endwith %}

      </div>
    {% endif %}

  {% endif %} {# end of 'if not candidates_locked' #}
</div>
