{% extends 'base.html' %}
{% load absolute %}
{% load i18n %}
{% load metadescription %}

{% block extra_head %}
    <!-- Open Graph and Twitter card data -->
    <meta property="og:url" name="twitter:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:title" name="twitter:title" content="{{ site.name }}" />
    <meta property="og:description" name="twitter:description" content="{% blocktrans with election_name=election_data.name site_name=site.name %}{{ site_name }} - {{ election_name }} candidates{% endblocktrans %}">

    <!-- Open Graph data -->
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ 'img/logo.png'|static_image_path:request }}" />
    <meta property="og:image:height" content="80" />
    <meta property="og:image:width" content="80" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:locale" content="{{ LOCALE }}" />

    <!-- Twitter card data -->
    <meta name="twitter:card" content="summary" />
    {% if settings.TWITTER_USERNAME %}
      <meta name="twitter:site" content="@{{ settings.TWITTER_USERNAME }}" />
    {% endif %}
    <meta property="twitter:image" content="{{ 'img/logo.png'|static_image_path:request }}" />
    <meta property="twitter:image:height" content="120" />
    <meta property="twitter:image:width" content="120" />
{% endblock %}

{% block body_class %}finder{% endblock %}

{% block hero %}

  <h1>Help build the free database of UK election candidates</h1>
  <p class="lead">With data on candidates, we can build tools to help voters.</p>

{% endblock %}

{% block content %}

</div><!-- close .container so we can go full width with .finder__description -->

<div class="finder__forms">
  <div class="finder__forms__container">


    {# <div style="background-color:#FFFF8E;padding:0.5em;margin-bottom:1em;clear:both"> #}
    {#   <h2> #}
    {#     <a href="https://democracyclub.org.uk/blog/2017/04/18/its-ge2017/">#GE2017 update</a> #}
    {#   </h2> #}
    {#   <p>There’s going to be a general election on 8 June. <a href="https://democracyclub.org.uk/blog/2017/04/18/its-ge2017/">Read about how you can help</a>, or <a href="https://democracyclub.org.uk/donate/">donate now</a> to support our work.</p> #}
    {# </div> #}

    {# <h2>Election Results</h2> #}
    {# {% include "uk_results/includes/map.html" %} #}
    {# <h3>Enter results as they come in</h3> #}
    {# <p><a href="{% url "results-home"%}" class="button">Get started</a></p> #}
    {#  #}
    {# <h3>{{ council_election_percent }}% of council controls have been verified</h3> #}
    {# <div class="radius progress success large-12" role="progressbar" aria-valuenow="{{ council_confirmed }}" aria-valuemin="0" aria-valuemax="{{ council_total }}"> #}
    {#   <span class="meter" style="width: {{ council_election_percent }}%"></span> #}
    {# </div> #}
    {#  #}
    {# <h3>{{ votes_percent }}% of votes for posts have been verified</h3> #}
    {# <div class="radius progress success large-12" role="progressbar" aria-valuenow="{{ votes_confirmed }}" aria-valuemin="0" aria-valuemax="{{ votes_total }}"> #}
    {#   <span class="meter" style="width: {{ votes_percent }}%"></span> #}
    {# </div> #}

    <h2>General election 2017 nomination papers&nbsp;(SOPNs)</h2>
    <p>Official document containing candidate information has just been published on local authority websites.</p>
    <p>Help us find all the nomination papers for the Scottish local elections</p>
    <a class="button" href="https://docs.google.com/spreadsheets/d/1wZeniqnMi1dyuB1eqCCumUq1kp8O_57TQsLyPwmLtQc/edit#gid=567037877">
        Add links to nomination papers
    </a>
    {% include "candidates/homepage_sopn_progress.html" with sopn_progress=sopn_progress %}

    {# <hr> #}

    {# <hr> #}
    {# <h2>Find information on your candidates</h2> #}
    {# <h4> #}
    {#   <label for="who_postcode" {% if request.GET.postcode_invalid %} class="error"{% endif %}>Enter your postcode</label> #}
    {# </h4> #}
    {# <form method="get" action="/postcode_redirect"> #}
    {#  #}
    {#   <input type="text" name="postcode" value="{{ request.GET.who_postcode }}" id="who_postcode" {% if request.GET.postcode_invalid %} class="error"{% endif %}> #}
    {#   {% if request.GET.postcode_invalid %} #}
    {#   <small class="error">Invalid postcode.  Please enter a full UK postcode.</small> #}
    {#   {% endif %} #}
    {#   <button type="submit" class="button" >Find your candidates</button> #}
    {# </form> #}
    {# <hr> #}


    {# <h4>or</h4> #}

    <form id="form-postcode" action="{% url 'person-search' %}" method="get" {% if show_name_form %}style="display: none"{% endif %}>
      {{ postcode_form.as_p }}
      <input type="submit" class="button" value="Help get data!" />
    </form>

    {% if person_task %}
    <hr>
    <h4>or</h4>

    <h3>Improve our data!</h3>
    <h4>Can you find {{ person_task.person.name }}'s
      {% if person_task.task_field == 'facebook_page_url' %}Facebook page?{% endif %}
      {% if person_task.task_field == 'email' %}email address?{% endif %}
      {% if person_task.task_field == 'twitter_username' %}Twitter page?{% endif %}
      {% if person_task.task_field == 'homepage_url' %}web site?{% endif %}
    </h4>
    <p><a href="{% url 'person-update' person_task.person.pk %}?highlight_field={{ person_task.task_field }}" class="button">Start the search</a></p>
    {% endif %}
  </div>

</div>

<div class="container"><!-- reopen new .container -->


<div class="finder__activity">
  <div class="finder__activity__changes">
    <h2><a href="{% url 'recent-changes' %}">Recent changes</a></h2>
    <ol>
      {% for action in recent_actions %}
        <li>User <strong>{{ action.user.username }}</strong>
          {% if action.action_type == 'person-create' %}
            {% if action.person.id %}
              created <a href="{% url 'person-view' person_id=action.person.id %}">a new candidate</a>
            {% else %}
              is creating a new candidate
            {% endif %}
          {% elif action.action_type == 'person-merge' %}
            merged another candidate into <a href="{% url 'person-view' person_id=action.person.id %}">candidate #{{ action.person.id }}</a>
          {% elif action.action_type == 'photo-upload' %}
            uploaded a photo of <a href="{% url 'person-view' person_id=action.person.id %}">candidate #{{ action.person.id }}</a> for moderation
          {% elif action.action_type == 'photo-approve' %}
            approved an uploaded photo of <a href="{% url 'person-view' person_id=action.person.id %}">candidate #{{ action.person.id }}</a>
          {% elif action.action_type == 'photo-reject' %}
            rejected an uploaded photo of <a href="{% url 'person-view' person_id=action.person.id %}">candidate #{{ action.person.id }}</a>
          {% elif action.action_type == 'person-revert' %}
            reverted to an earlier version of <a href="{% url 'person-view' person_id=action.person.id %}">candidate #{{ action.person.id }}</a>
          {% elif action.action_type == 'candidacy-create' %}
            confirmed candidacy for <a href="{% url 'person-view' person_id=action.person.id %}">candidate #{{ action.person.id }}</a>
          {% elif action.action_type == 'candidacy-delete' %}
            removed candidacy for <a href="{% url 'person-view' person_id=action.person.id %}">candidate #{{ action.person.id }}</a>
          {% elif action.action_type == 'constituency-lock' %}
            locked a constituency
          {% elif action.action_type == 'constituency-unlock' %}
            unlocked a constituency
          {% elif action.action_type == 'record-council-result' %}
            recorded a result for <a href="{% url 'post-results-view' post_election_id=action.post_election_guess.id %}">{{ action.post.label }}</a>
          {% elif action.action_type == 'record-council-control' %}
            recorded overall control for a council
          {% elif action.action_type == 'confirm-council-result' %}
            reviewed a result for <a href="{% url 'post-results-view' post_election_id=action.post_election_guess.id %}">{{ action.post.label }}</a>
          {% elif action.action_type == 'confirm-council-control' %}
            reviewed overall control for a council
          {% elif action.action_type == 'set-candidate-elected' %}
            marked <a href="{% url 'person-view' person_id=action.person.id %}">candidate #{{ action.person.id }}</a> as the winner
          {% else %}
            updated <a href="{% url 'person-view' person_id=action.person.id %}">candidate #{{ action.person.id }}</a>
          {% endif %}
        <span class="when">{{ action.created|timesince }} ago</span></li>
      {% endfor %}
    </ol>
    <p class="more"><a href="{% url 'recent-changes' %}">Show more changes…</a></p>
  </div>
  <div class="finder__activity__leaderboard">
    <h2><a href="{% url 'leaderboard' %}">Democracy Heroes</a></h2>
    <h3 style="text-align:center;font-size:0.9rem"><a href="{% url 'leaderboard' %}">This week</a></h3>
    <ol>
      {% for row in top_users %}
        <li><strong>{{ row.username }}</strong> <span class="edits">{{ row.edit_count }} edit{{ row.edit_count|pluralize }}</span></li>
      {% endfor %}
    </ol>
    <p class="more"><a href="{% url 'leaderboard' %}">Show full leaderboard…</a></p>
  </div>
</div>

{% endblock %}
