<style>
.big_number {
    font-size:3em;
    text-align:center;
    display:block;
    font-weight:bold;
}
</style>
<p><span class="big_number">{{ sopn_progress.posts_total }}</span> areas in total</p>

<h3><strong>{{ sopn_progress.posts_lock_suggested }}</strong> areas have suggested locks</h3>
<div class="radius progress success large-12" role="progressbar"
    aria-valuenow="{{ sopn_progress.posts_lock_suggested }}"
    aria-valuemin="0" aria-valuemax="{{ sopn_progress.posts_total }}">
  <span class="meter" style="width: {{ posts_locked_suggested_percent }}%"></span>
</div>

<h3><strong>{{ sopn_progress.posts_locked }}</strong> areas verified</h3>
<div class="radius progress success large-12" role="progressbar"
    aria-valuenow="{{ sopn_progress.posts_locked }}" aria-valuemin="0"
    aria-valuemax="{{ sopn_progress.posts_total }}">
  <span class="meter" style="width: {{ sopn_progress.posts_locked_percent }}%"></span>
</div>
