.socialaccount_ballot {
    max-width: 30em; // to match form.login
}

.socialaccount_providers {
    list-style: none;
    margin-left: 0;

    @media (min-width: $small-breakpoint) {
        @include flex-container();
        margin: 1em -0.5em;

        li {
            margin: 0 0.5em;
        }
    }
}

.socialaccount_provider {
    @include button-base();
    @include button-size($button-med, true);
    @include single-transition(background-color);

    &.facebook {
        $bg: #3b5998;
        $bg-hover: scale-color($bg, $lightness: $button-function-factor);
        @include button-style($bg, $button-radius, false, $bg-hover, $bg-hover);
    }

    &.google {
        $bg: #ea4335;
        $bg-hover: scale-color($bg, $lightness: $button-function-factor);
        @include button-style($bg, $button-radius, false, $bg-hover, $bg-hover);
    }

    &.twitter {
        $bg: #1da1f2;
        $bg-hover: scale-color($bg, $lightness: $button-function-factor);
        @include button-style($bg, $button-radius, false, $bg-hover, $bg-hover);
    }
}

.login-or {
    border-top: 1px solid #ddd;
    text-align: center;
    margin-bottom: 0.5em;

    span {
        position: relative;
        top: -0.75em;
        background: #fff;
        padding: 0 1em;
    }
}

.login-signup-tabs {
    @include flex-container();
    margin: 0 0 1.5em 0;
    text-align: center;
    line-height: 1.2em; // make text look better when tabs wrap on narrow screens
    max-width: 30em; // to match form.login

    & > * {
        @include flex(1 1 auto);
        padding: 1em;
    }

    & > span {
        border: 1px solid #ddd;
        border-bottom: 0;
        border-radius: $button-radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    & > a {
        border-bottom: 1px solid #ddd;
    }
}
