.finder__forms {
  text-align: center;
  max-width: 30em;
  margin: 0 auto 2em auto;

  label {
    font-size: 1.4em;
    margin-bottom: 0.4em;
  }

  .select2-container {
    text-align: left;
  }

  .show-other-form {
    display: block;
    margin-top: 1em;
  }
}

.finder__description {
  background-color: mix($color-offwhite, #fff, 60%);
  color: #887; // dark desaturated browny-grey
  padding: 2.5em 0;

  p:last-child {
    margin-bottom: 0;
  }
}

.finder__activity {
  margin-top: 3em;
}

.finder__activity__changes,
.finder__activity__leaderboard {
  h2 a {
    display: block;
    background: transparent url(img/icon-changes.png) left center no-repeat;
    padding-left: 40px;
  }

  .edits, .when {
    color: #999;
  }

  .when {
    display: block;
  }

  .edits {
    margin-left: 0.5em;
  }

  li {
    line-height: 1.3em;
    padding: 0.5em 0;
    border-top: 1px solid #eee;
  }

  ol {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #eee;
  }

  p.more {
    line-height: 1.3em;
    padding: 0.5em 0;
  }
}

.finder__activity__changes {
  a {
    color: $color-cyan;

    &:hover, &:focus {
      color: darken($color-cyan, 10%);
    }
  }
}

.finder__activity__leaderboard {
  h2 a {
    background-image: url(img/icon-leaderboard.png);
  }

  a {
    color: $color-gold;

    &:hover, &:focus {
      color: darken($color-gold, 10%);
    }
  }
}

@media #{$medium-up} {

  body.finder {
    .content {
      padding-top: 0;

      .container {
        position: relative; // so we can absolutely position .finder__forms
      }
    }

    // More impactful homepage header on wide screens
    .header__hero {
      padding-top: 2em;
      padding-bottom: 4em;

      .lead {
        width: 50%;
        font-size: 1.5em;
        line-height: 1.4em;
        margin-top: 0.7em;
      }
    }
  }

  .finder__forms {
    position: absolute;
    top: -5em; // overlap into header above
    right: 0.9375em; // default bootstrap column gutter
    margin: 0; // override auto margins from smaller screens
    padding: 2em 3em;
    width: 40%;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  }

  .finder__description {
    @include clearfix();

    p {
      float: left;
      width: 25%;
    }

    p + p {
      margin-left: 4%;
    }
  }

  .finder__activity {
    margin-top: 5em;
    @include clearfix;
  }

  .finder__activity__changes,
  .finder__activity__leaderboard {
    float: left;
    width: 45%;

    h2 {
      font-size: rem-calc(28);
      line-height: 1.3em;
      text-align: center;

      a {
        display: inline-block;
      }
    }

    ol {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    p.more {
      text-align: center;
    }
  }

  .finder__activity__leaderboard {
    float: right;
    margin-left: 0;
  }
}

@media #{$large-up} {
  .finder__activity__changes {
    width: 40%;
    margin-left: 5%;
  }

  .finder__activity__leaderboard {
    width: 40%;
    margin-right: 5%;
  }
}

#form-name .errorlist, #form-postcode .errorlist {
    list-style: none;
}
