body,
.footer {
  background-color: $body-background-color;
}

.footer {
  color: $footer-text-color;
  padding-top: 2em;
  padding-bottom: 2em;

  p {
    margin-bottom: 0;
  }

  p + p {
    margin-top: 1em;
  }
}

.footer__links {
  margin-bottom: 0.5em;
}

.dc-logo {
    height: 45px;
    margin-left: 0.5em;
}

@media #{$medium-up} {
  .footer__bylines {
    width: 45%;
  }

  .footer__links {
    float: right;
    width: 45%;
    text-align: right;
    margin-bottom: 0;
  }
}
