.source-confirmation:before {
  display: block;
  content: "";
  position: absolute;
  top: -30px;
  left: 115px;
  @include css-triangle(20px, $color-yellow, bottom);
}

.source-confirmation + .source-confirmation:before {
  display: block;
  content: "";
  position: absolute;
  top: -30px;
  left: 234px;
  @include css-triangle(20px, $color-yellow, bottom);
}

.source-confirmation {
  position: relative;
  border-radius: 3px;
  background: $color-yellow;
  padding: 20px;
  margin-bottom: rem-calc(16);

  label {
    margin-bottom: 10px;
    font-size: remCalc(16);
  }

  input {
    margin-bottom: 0;
  }

  .row {
    margin-left: rem-calc(-15);
    margin-right: rem-calc(-15);
    width: auto;
  }
}

form.login {
  max-width: 30em;

  label[for="id_remember"] {
    float: left;
    margin-right: 0.5em;

    & + input {
      margin-bottom: 0;
      vertical-align: 0.2em;
    }
  }

  .button + .button {
    margin-left: 1em;
  }
}

form.signup {
  max-width: 30em;
}
