.source-confirmation:before {
  display: block;
  content: "";
  position: absolute;
  top: -30px;
  left: 115px;
  @include css-triangle(20px, $confirmation-background-color, bottom);
}

.source-confirmation + .source-confirmation:before {
  display: block;
  content: "";
  position: absolute;
  top: -30px;
  left: 234px;
  @include css-triangle(20px, $confirmation-background-color, bottom);
}

.person-othernames-list .source-confirmation:before {
  display: block;
  content: "";
  position: absolute;
  top: -30px;
  left: 56px;
  @include css-triangle(20px, $confirmation-background-color, bottom);
}

.source-confirmation {
  position: relative;
  border-radius: 3px;
  background: $confirmation-background-color;
  padding: 20px;
  margin-bottom: rem-calc(16);

  label {
    margin-bottom: 10px;
    font-size: remCalc(16);
  }

  input {
    margin-bottom: 0;
  }

  .row {
    margin-left: rem-calc(-15);
    margin-right: rem-calc(-15);
    width: auto;
  }
}

form.login {
  max-width: 30em;

  label[for="id_remember"] {
    float: left;
    margin-right: 0.5em;

    & + input {
      margin-bottom: 0;
      vertical-align: 0.2em;
    }
  }

  .button + .button {
    margin-left: 1em;
  }
}

form.signup {
  max-width: 30em;
}

.form-item {
  margin-bottom: 1.5em;

  input,
  select,
  p {
    margin-bottom: 0;
  }

  label {
    color: inherit;
    margin-bottom: 0.5em;
  }
}

.form-item--errors {
  color: $error-text-color;

  input {
    border-color: $error-input-border-color;
  }
}

.errorlist {
  margin: 0;
  padding: 0.5em 1em 0.5em 2em;
  background-color: $error-background-color;

  li {
    font-size: $form-label-font-size;
  }
}

.form-error-summary {
  margin-bottom: 3em;
  color: $error-text-color;

  h2 {
    color: inherit;
    margin-top: 0;
    line-height: 1.2em;
  }

  p {
    margin-bottom: 0.5em;
  }
}

.alternative-names {
  margin-top: 0.5em;
}

.help_text {
    font-size:0.875rem;

}
