.header {
  background: $color-teal;
  color: #fff;

  a, h1, h2, h3 {
    color: inherit;
  }

  a:hover, a:focus {
    display: inline-block;
    border-bottom: 1px solid mix($color-teal, #fff, 50%);
    margin-bottom: -1px;
  }

  h1 {
    line-height: 1.2em;
  }

  .lead {
    color: mix($color-teal, #fff, 30%);
  }
}

.header__nav {
  padding-top: 1em;
  padding-bottom: 1em;
  @include clearfix;
}

.header__nav__logo {
  float: left;
  font-weight: bold;
  margin-right: 1em;
}

.header__nav__login, .header__nav__logout {
  float: right;
}

.header__nav__logout strong {
  margin-right: 1em;
}

.header__hero {
  padding-bottom: 1.5em;

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

#ff_banner {
    text-align:center;
    -webkit-box-shadow: inset 0px -20px 18px -23px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -20px 18px -23px rgba(0,0,0,0.75);
    box-shadow: inset 0px -20px 18px -23px rgba(0,0,0,0.75);
    h2 {
        font-size: 1.6rem;
        margin:0;
        padding-top: 0.1em;
        padding-bottom:0.5em;

    }
}