.header {
  background-color: $header-background-color;
  color: #fff;

  a, h1, h2, h3 {
    color: inherit;
  }

  a:hover, a:focus {
    display: inline-block;
    border-bottom: 1px solid mix($header-background-color, #fff, 50%);
    margin-bottom: -1px;
  }

  h1 {
    line-height: 1.2em;
  }

  .lead {
    color: mix($header-background-color, #fff, 30%);
  }
}


// Header nav/actions are separated into a masthead that sits at the very
// top of the page, and then a nav that merges into the rest of the header.
// Then inside them, the logo, user links, nav links, and search form are
// floated variously left and right to line up with the edges of the page.

.header__masthead {
  @include clearfix();
  padding: 0.75em 0;
  background-color: darken($header-background-color, 5%);

  .header__masthead__logo {
    float: left;
    font-weight: bold;
  }

  .nav-links {
    float: right;
  }
}

.header__nav {
  @include clearfix();
  padding: 2em 0 1em 0;

  .nav-links {
    float: left;
    font-weight: bold;
  }

  .header__nav__search {
    float: right;
  }
}

.nav-language {
  display: inline-block;
  font-size: 0.9em;
  margin-left: 1em;
  position: relative;

  &:before {
    position: absolute;
    z-index: 0; // position behind the `select`
    left: 0;
    top: 50%;
    margin-top: -0.1em; // vertically centre
    @include css-triangle(0.3em, rgba(255, 255, 255, 0.9), top);
  }

  // The nav-language inputs are heavily custom styled.
  // So, reset a bunch of defaults before we start.
  select, input {
    display: inline-block;
    height: auto;
    width: auto;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    line-height: 1.5em;
  }

  select {
    position: relative;
    z-index: 2; // position in front of the `:before` triangle
    padding-left: 1em;
    color: rgba(255, 255, 255, 0.9);

    // Increase contrast on focus.
    &:focus {
      color: #fff;
    }

    // Dropdown menu options inherit things like text color
    // on IE and Firefox on Windows inherit, meaning we also
    // need to set a dark background color if we want the white
    // text to be legible.
    option {
      background-color: darken($header-background-color, 5%);
    }
  }

  select::-ms-expand {
    display: none;
  }

  input {
    background-color: rgba(255, 255, 255, 0.9);
    color: darken($header-background-color, 5%);
    border-radius: 0.2em;
    padding: 0.1em 0.5em;

    html.js & {
      display: none;
    }
  }
}


// A nav list component we use twice in the header.
// TODO: Make this fold away on mobile!

.nav-links {
  @include clearfix();
  list-style: none;
  margin: 0 -0.5em;
}

.nav-links__item {
  float: left;
  padding: 0 0.5em;
  display: block;
  list-style: none;

  a {
    vertical-align: middle; // line up with text nodes in link-less items
  }
}


.header__nav__search {
  position: relative;
  margin-top: -0.5em; // line up with the .nav-links to the left

  input {
    margin: 0;
    width: 15em;
    padding-left: 40px; // make room for the icon
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.4);
    color: #fff;
    transition: none;

    background-color: darken($header-background-color, 5%);
    background-repeat: no-repeat;
    background-position: ((40px - 16px) / 2) 50%;
    @include high-dpi-background-image('img/nav-search-icon', 16px, 16px);

    @include placeholder-style() {
      color: #fff;
    }

    &:focus {
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom-color: rgba(255, 255, 255, 0.4);
      box-shadow: $input-box-shadow;

      background-color: darken($header-background-color, 7%);
      background-repeat: no-repeat;
      background-position: ((40px - 16px) / 2) 50%;
      @include high-dpi-background-image('img/nav-search-icon', 16px, 16px);

      @include placeholder-style() {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }

  button {
    position: absolute;
    top: -99em;
  }
}



.header .notification {
  font-size: 0.875em;
  padding: 0.1em 0.4em;
  background-color: #f00;
  color: #fff;
  border-radius: 0.3em;
  font-weight: bold;
  margin-right: 0.1em;
}

.header__hero {
  padding-bottom: 1.5em;

  .container > :first-child {
    margin-top: 0;
  }

  .container > :last-child {
    margin-bottom: 0;
  }
}

.message {
   background: $message-background-color;
   border: 1px solid $message-border-color;
   border-radius: 3px;
   margin-bottom: 0.8em;
   padding: 0.8em;
}
