%candidate-party {
  color: darken($color-cream, 20%);
  margin-left: 0.2em;

  &:before {
    display: inline;
    content: "–";
    color: darken($color-cream, 5%);
    margin-right: 0.4em;
  }
}

%person-section-heading {
  line-height: 1.2em;
  font-size: 1.3em;
  margin-top: 0;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
}

%responsive-definition-list {
  // use this to @extend a dl element
  line-height: 1.4em;

  @media #{$large-up} {
    dl {
      @include clearfix();
    }

    dt {
      float: left;
      width: 10em;
      overflow: hidden;
      clear: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 0.75em;
    }

    dd {
      margin-left: 12em;
      margin-bottom: 0.75em;
      min-height: 1.4em; // to match dt line-height
    }
  }
}

.candidate-list {
  margin: 1.5em 0;

  li p {
    margin: 5px 0 0 0;
  }
}

.missing_field {
  border: 1px solid lighten($color-gold, 30%);
  border-radius: 3px;
  padding: 0.8em;
  margin-bottom: 1.6em;
  h4 + li {
      margin-top: 1.5em;
  }
}

.candidates-list__person {
  list-style-type: none;
  margin-bottom: 1em;
  @include clearfix;

  .person-avatar {
    float: left;
    width: auto;
    height: 4em;
    margin-right: 1.5em;
    background-color: #ddd;
  }

  .person-name-and-party {
    font-size: 1.2em;

    .party {
      @extend %candidate-party;
    }
  }
}

.candidates__known,
.candidates__new,
.candidates__previous,
.candidates__not-standing {
  margin-bottom: 3em;

  @media #{$medium-up} {
    padding-left: 100px;
    background: transparent url(img/icon-candidates.gif) 0 0 no-repeat;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  li > p > .button {
    margin-right: 0.8em;
  }
}

.candidates__new {
  @media #{$medium-up} {
    background-image: url(img/icon-add-candidate.gif);
  }
}

.candidates__previous {
  @media #{$medium-up} {
    background-image: url(img/icon-question.gif);
  }

  li > p > .button:first-child,
  li > p > .button:nth-child(2),
  .source-confirmation .button {
    background-color: $color-orange;

    &:hover, &:focus {
      background-color: scale-color($color-orange, $lightness: $button-function-factor);
    }
  }
}

.candidates__not-standing {
  @media #{$medium-up} {
    background-image: url(img/icon-cross.gif);
  }

  li > p > .button:first-child,
  .source-confirmation .button {
    background-color: $color-red;

    &:hover, &:focus {
      background-color: scale-color($color-red, $lightness: $button-function-factor);
    }
  }
}

.no-candidates {
  background: #FDF2D5; // lighter version of $color-gold
  border: 1px solid lighten($color-gold, 30%);
  border-radius: 3px;

  padding-top: 0.8em;
  padding-bottom: 0.8em;

  p + p {
    margin-bottom: 0;
  }

  @media #{$medium-up} {
    p {
      margin-bottom: 0;
    }

    p + p {
      text-align: right;
    }
  }

  .button {
    margin-bottom: 0;
  }
}

.encourage-login {
  background: #FDF2D5; // lighter version of $color-gold
  border: 1px solid lighten($color-gold, 30%);
  border-radius: 3px;

  padding: 0.8em;

  margin-bottom: 1.6em;
}

.person__hero {
  .person-avatar {
    float: left;
    width: auto;
    height: 4em;
    margin-right: 1em;
    background-color: #ddd;

    @media #{$medium-up} {
      height: 5em;
      margin-right: 1.5em;
    }
  }

  h1 {
    margin-bottom: 0;
  }

  h1 + p {
    color: mix(#fff, $color-teal, 70%);
  }
}

.person__details {
  h2 {
    @extend %person-section-heading;
  }

  dl {
    @extend %responsive-definition-list;
    margin-bottom: 2em;
  }

  dd small {
    font-size: inherit;
    color: darken($color-cream, 20%);
    margin-left: 0.2em;
  }

  .party {
    @extend %candidate-party;
  }

  .dob {
    margin-left: 0.6em;
  }

  a[href^="http"] {
    // break ultra-long facebook etc links onto two lines
    word-wrap: break-word;
  }

  form {
    h2 {
      margin-bottom: 1em;
    }

    .form-item + h2 {
      margin-top: 3em;
    }
  }
}

@media #{$medium-up} {
  .person__details {
    @include grid-column($columns: 7, $collapse: true);
  }

  .person__actions {
    @include grid-column($columns: 4, $offset: 1, $collapse: true);

    & + * {
      clear: both;
    }
  }
}

.person__actions__action {
  display: block;
  border-radius: 3px;
  background-color: mix($color-offwhite, #fff, 60%);
  padding: 1.5em;
  margin-bottom: 2em;

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  h2 {
    font-size: 1.3em;
    line-height: 1.2em;
    margin-bottom: 0.7em;
  }

  p {
    line-height: 1.4em;
    margin-bottom: 0.7em;
  }

  p + .button {
    margin-top: 0.3em; // compensate for extra bit of line-height between paragraphs but not buttons
  }
}

.person__actions__edit,
.person__actions__sourcing {
  background-color: $color-yellow;
}

.person__actions__data {
  background-color: mix($color-cyan, #fff, 15%);
}

.person__actions__merge {
  background-color: mix($color-red, #fff, 15%);

  label {
    margin-bottom: 0.5em;
  }
}

.person__versions {
  padding-top: 6em;

  h2 {
    @extend %person-section-heading;
  }

  dl {
    @extend %responsive-definition-list;
    margin-bottom: 0;
  }
}

.person__party_emblem {
  text-align: center;
  padding-bottom: 2em;

  img {
    width: auto;
    max-height: 10em;
    margin-left: auto;
    margin-right: auto;
  }
}
