%candidate-party {
  color: $muted-text-color;
  margin-left: 0.2em;

  &:before {
    display: inline;
    content: "–";
    color: mix($muted-text-color, #fff, 50%);
    margin-right: 0.4em;
  }
}

%person-section-heading {
  line-height: 1.2em;
  font-size: 1.3em;
  margin-top: 0;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
}

// You can apply this class to a <dl> element to stack the
// <dt> children vertically, with the <dd>s to one side.
.key-value-list {
  line-height: 1.4em;

  @media #{$large-up} {
    dl {
      @include clearfix();
    }

    dt {
      float: left;
      width: 10em;
      overflow: hidden;
      clear: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 0.75em;
    }

    dd {
      margin-left: 12em;
      margin-bottom: 0.75em;
      min-height: 1.4em; // to match dt line-height
    }
  }
}

.candidate-list {
  margin: 1.5em 0;

  li p {
    margin: 5px 0 0 0;
  }
}

.missing_field {
  margin-bottom: 1.6em;

  h4 + li {
    margin-top: 1.5em;
  }
}

.party-list-header {
  margin-bottom: 0.2em;
}

.candidates-list__person {
  list-style-type: none;
  margin-bottom: 1em;
  @include clearfix;

  .person-position {
    display: block;
    float: left;
    font-size: 1em * 2;
    line-height: (4em / 2);
    width: (4em / 2);
    margin-right: (1.5em / 2);
    text-align: center;
    font-weight: bold;
    background-color: $candidate-order-background-color;
    color: $candidate-order-color;
  }

  .person-avatar {
    float: left;
    width: auto;
    height: 4em;
    margin-right: 1.5em;
    background-color: $avatar-background-color;
  }

  .person-name-and-party {
    font-size: 1.2em;

    .party {
      @extend %candidate-party;
    }
  }
}

.candidates-list__person.hover-highlighting {

  padding-top: 0.8em;
  padding-left: 0.8em;
  padding-right: 0.8em;

  &:hover {
    background-color: #eee;
  }

}

.candidates-list__person__winner {
  background-color: $highlight-background-color;
  padding-top: 1em;
  padding-bottom: 0.75em;
  padding-left: 1em;
}

.person__details__result {
  margin-bottom: 2em;
}

.candidates__known,
.candidates__new,
.candidates__previous,
.candidates__not-standing,
.candidates__elected {
  margin-bottom: 3em;

  @media #{$medium-up} {
    padding-left: 100px;
    background: transparent url(img/icon-candidates.png) 0 0 no-repeat;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  li > p > .button {
    margin-right: 0.8em;
  }
}

.candidates__new {
  @media #{$medium-up} {
    background-image: url(img/icon-add-candidate.png);
  }
}

.candidates__previous {
  @media #{$medium-up} {
    background-image: url(img/icon-question.png);
  }

  li > p > .button:first-child,
  li > p > .button:nth-child(2),
  .source-confirmation .button {
    background-color: $unknown-candidate-status-color;

    &:hover, &:focus {
      background-color: scale-color($unknown-candidate-status-color, $lightness: $button-function-factor);
    }
  }
}

.candidates__not-standing {
  @media #{$medium-up} {
    background-image: url(img/icon-cross.png);
  }

  li > p > .button:first-child,
  .source-confirmation .button {
    background-color: $not-standing-candidate-status-color;

    &:hover, &:focus {
      background-color: scale-color($not-standing-candidate-status-color, $lightness: $button-function-factor);
    }
  }
}

.candidates__elected {
  @media #{$medium-up} {
    background-image: url(img/icon-elected.png);
  }
}

.no-candidates {
  background: $message-background-color;
  border: 1px solid $message-border-color;
  border-radius: 3px;

  padding-top: 0.8em;
  padding-bottom: 0.8em;

  p + p {
    margin-bottom: 0;
  }

  @media #{$medium-up} {
    p {
      margin-bottom: 0;
    }

    p + p {
      text-align: right;
    }
  }

  .button {
    margin-bottom: 0;
  }
}

.constituency-invalidate-cache {
  margin-top: 3em;
}

.encourage-login {
  background: $message-background-color;
  border: 1px solid $message-border-color;
  border-radius: 3px;

  padding: 0.8em;

  margin-bottom: 1.6em;
}

// Success message shown above personal details and
// sidebar when a new candidate is created.
.do-something-else ul {
  margin-bottom: 0;
}

.person__hero {
  .person__photo {
    position: relative;
    height: 4em;
    margin-right: 1em;
    width: auto;
    float: left;

    @media #{$medium-up} {
      height: 5em;
      margin-right: 1.5em;
    }

    .person-avatar {
      float: left;
      width: auto;
      height: 4em;
      background-color: $avatar-background-color;

      @media #{$medium-up} {
        height: 5em;
      }

    }

    .upload-photo {
      display: block;
      position: absolute;
      padding-top: 0.5em;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(66, 139, 202, 0.5);
      text-align: center;
      text-decoration: none;
      color: #fff;
      text-shadow: 0 1px 1px rgb(66,139,202);
      cursor: pointer;

      @media #{$medium-up} {
        padding-top: 1em;
      }
    }
  }

  h1 {
    margin-bottom: 0;
  }

  h1 + p {
    color: mix(#fff, $header-background-color, 70%);
  }
}

.person__details, .candidates__new, .othername__details {
  h2 {
    @extend %person-section-heading;
  }

  dl {
    margin-bottom: 2em;
  }

  dd small {
    font-size: inherit;
    color: $muted-text-color;
    margin-left: 0.2em;
  }

  .party {
    @extend %candidate-party;
  }

  .dob {
    margin-left: 0.6em;
  }

  a[href^="http"] {
    // break ultra-long facebook etc links onto two lines
    word-wrap: break-word;
  }

  form {
    h2 {
      margin-bottom: 1em;
    }

    .form-item + h2 {
      margin-top: 3em;
    }
  }

  .form-error-summary {
    h2 {
      margin-bottom: 0.5em;
      border-bottom-color: $error-border-color;
    }
  }

  .source-confirmation {
    margin-top: 3em;
    margin-bottom: 30px;

    label {
      color: inherit;
    }

    & > :last-child {
      margin-bottom: 0;
    }

    &:before {
      @include css-triangle(20px, $confirmation-background-color, top);
      top: auto;
      bottom: -30px;
      left: 10px;
    }
  }

  .source-confirmation--errors {
    color: $error-text-color;
    background-color: $error-background-color;

    &:before {
      @include css-triangle(20px, $error-background-color, top);
    }

    input {
      border-color: mix($error-input-border-color, #fff, 50%);
    }
  }
}

@media #{$medium-up} {
  .person__details {
    @include grid-column($columns: 7, $collapse: true);
  }

  .person__actions {
    @include grid-column($columns: 4, $offset: 1, $collapse: true);

    & + * {
      clear: both;
    }
  }
}

.person__actions__action {
  display: block;
  border-radius: 3px;
  background-color: $body-background-color;
  padding: 1.5em;
  margin-bottom: 2em;

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  h2 {
    font-size: 1.3em;
    line-height: 1.2em;
    margin-bottom: 0.7em;
  }

  p {
    line-height: 1.4em;
    margin-bottom: 0.7em;
  }

  p + .button {
    margin-top: 0.3em; // compensate for extra bit of line-height between paragraphs but not buttons
  }
}

.person__actions__edit,
.person__actions__sourcing {
  background-color: $highlight-background-color;
}

.person__actions__data {
  background-color: $information-background-color;
}

.person__actions__merge {
  background-color: $danger-background-color;

  label {
    margin-bottom: 0.5em;
  }
}

.person__versions {
  padding-top: 6em;

  h2 {
    @extend %person-section-heading;
  }

  dl {
    margin-bottom: 0;
  }
}

.person__party_emblem {
  text-align: center;
  padding-bottom: 2em;

  img {
    width: auto;
    max-height: 10em;
    margin-left: auto;
    margin-right: auto;
  }
}

.person__photo-credit {
  font-size: 0.8em;
}

.person__2015-data-edit {
  display: none;
}

.plaintext-with-newlines {
  white-space: pre-line;
}

.candidate-result-confirmed {
  font-weight: bold;
}


.person_biography {
    margin-left:1em;
    * {
        font-size:12px;
    }

    h1,h2,h3,h4,h5,h6 {
        font-size:0.9rem;
        font-weight:bold;
    }
}
