.version {
  background-color: #eee;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.full-version-json {
  font-size: 75%;
  line-height: 150%;
}

.version-metadata {
  margin-bottom: 0.4em;
}

.version-metadata-key {
  font-weight: bold
}

.version-op-add {
  color: #0a6b0c
}

.version-op-remove {
  color: #8e2424
}

.version-op-replace {
  color: #27248e
}
