.version {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1em;
  margin-bottom: 1em;
  word-wrap: break-word;

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .button.tiny {
    margin-bottom: 0;
    margin-left: 0.5em;
    vertical-align: 0.2em;
  }
}

.full-version-json {
  font-size: 75%;
  line-height: 150%;
  padding: 1.33em;
  background-color: #ece7e1;
  border-radius: 3px;
  margin-top: 1em;
}

.version-op-add {
  color: #0a6b0c
}

.version-op-remove {
  color: #8e2424
}

.version-op-replace {
  color: #27248e
}

.version-revert {
  @include clearfix();

  & > * {
    float: left;
    margin-bottom: 0 !important;
  }

  input[type="text"] {
    margin-right: 0.2em;
    width: 60%;
    padding: 0 0.5em;
    height: 1.6rem;
  }
}
