@import "../foundation/scss/foundation/functions";

$color-orange: #f97d3d;
$color-red: #c55e59;
$color-gold: #ba9f50;
$color-blue: #085184;
$color-cyan: #029db9;
$color-teal: #09a691;
$color-offwhite: #ece7e1;
$color-cream: #e4dfdb;
$color-yellow: #fdf2d5;

// Override Foundation variables here
$primary-color: $color-cyan;
$secondary-color: $color-cream;
$button-tny: rem-calc(6);
$button-sml: rem-calc(8);
$button-med: rem-calc(10);
$button-lrg: rem-calc(14);
$button-radius: 3px;
$code-font-family: Consolas, Monaco, 'Liberation Mono', Courier, monospace;

@import "../foundation/scss/normalize";
@import "../foundation/scss/foundation";

.container {
  @include grid-row();
  padding-left: $column-gutter / 2;
  padding-right: $column-gutter / 2;
}

.button, input[type="submit"].button {
  @extend .radius;
}

.code-sample {
  margin: 1em;
}

.help-api p {
  margin-top: 0.6em
}

.aka-note {
  font-size: 80%
}

pre {
  font-family: $code-font-family;
}

@import "header";
@import "content";
@import "footer";
@import "forms";

@import "finder";
@import "people";
@import "versions";
@import "parties";
@import "person_edit";